slide22-2
[{"id":"aa1b9da1ec5d594e","type":"modbus-write","z":"200cf880.993108","name":"싱글코일","showStatusActivities":false,"showErrors":false,"unitid":"1","dataType":"Coil","adr":"0","quantity":"1","server":"dea2537994e23bbf","emptyMsgOnFail":false,"keepMsgProperties":false,"x":280,"y":140,"wires":[[],["5e88e1f4d0c25999"]]},{"id":"abb026233d7344f2","type":"inject","z":"200cf880.993108","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":90,"y":100,"wires":[["aa1b9da1ec5d594e"]]},{"id":"1e74df772ae9aa4c","type":"inject","z":"200cf880.993108","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"false","payloadType":"bool","x":90,"y":180,"wires":[["aa1b9da1ec5d594e"]]},{"id":"5e88e1f4d0c25999","type":"modbus-response","z":"200cf880.993108","name":"","registerShowMax":20,"x":570,"y":200,"wires":[]},{"id":"1adbf93439be27ca","type":"modbus-write","z":"200cf880.993108","name":"멀티플코일","showStatusActivities":false,"showErrors":false,"unitid":"1","dataType":"MCoils","adr":"0","quantity":"14","server":"dea2537994e23bbf","emptyMsgOnFail":false,"keepMsgProperties":false,"x":290,"y":280,"wires":[[],["5e88e1f4d0c25999"]]},{"id":"4fd4c6155fcbb4c0","type":"inject","z":"200cf880.993108","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[1,1,1,1,1,1,1,1,1,1,1,1,1,1]","payloadType":"bin","x":90,"y":260,"wires":[["1adbf93439be27ca"]]},{"id":"927f52330b3112a0","type":"inject","z":"200cf880.993108","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[0,0,0,0,0,0,0,0,0,0,0,0,0,0]","payloadType":"bin","x":90,"y":340,"wires":[["1adbf93439be27ca"]]},{"id":"8ea8d5277c02823d","type":"modbus-write","z":"200cf880.993108","name":"싱글레지스터","showStatusActivities":false,"showErrors":false,"unitid":"1","dataType":"HoldingRegister","adr":"0","quantity":"1","server":"dea2537994e23bbf","emptyMsgOnFail":false,"keepMsgProperties":false,"x":320,"y":440,"wires":[[],["8dfe6c7e57b9e6b7"]]},{"id":"60689b4c67bce8b4","type":"inject","z":"200cf880.993108","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"12345","payloadType":"num","x":90,"y":400,"wires":[["8ea8d5277c02823d"]]},{"id":"3e5ae2318f2245bd","type":"inject","z":"200cf880.993108","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"45678","payloadType":"num","x":90,"y":460,"wires":[["8ea8d5277c02823d"]]},{"id":"8dfe6c7e57b9e6b7","type":"modbus-response","z":"200cf880.993108","name":"","registerShowMax":20,"x":570,"y":440,"wires":[]},{"id":"69e88daa78b37f9b","type":"modbus-read","z":"200cf880.993108","d":true,"name":"싱글레지스터읽기","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"1","dataType":"HoldingRegister","adr":"0","quantity":"1","rate":"2","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"dea2537994e23bbf","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":150,"y":540,"wires":[[],["1612d786a3a93822"]]},{"id":"b728aa5e69690dbe","type":"debug","z":"200cf880.993108","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":500,"y":520,"wires":[]},{"id":"1612d786a3a93822","type":"buffer-parser","z":"200cf880.993108","name":"","data":"payload.buffer","dataType":"msg","specification":"spec","specificationType":"ui","items":[{"type":"uint16be","name":"item1","offset":0,"length":1,"offsetbit":0,"scale":"1","mask":""}],"swap1":"","swap2":"","swap3":"","swap1Type":"swap","swap2Type":"swap","swap3Type":"swap","msgProperty":"payload","msgPropertyType":"str","resultType":"keyvalue","resultTypeType":"return","multipleResult":false,"fanOutMultipleResult":false,"setTopic":true,"outputs":1,"x":350,"y":540,"wires":[["b728aa5e69690dbe"]]},{"id":"a2d14620fc372ecb","type":"modbus-write","z":"200cf880.993108","name":"멀티플레지스터쓰기","showStatusActivities":false,"showErrors":false,"unitid":"1","dataType":"MHoldingRegisters","adr":"0","quantity":"2","server":"dea2537994e23bbf","emptyMsgOnFail":false,"keepMsgProperties":false,"x":420,"y":660,"wires":[[],["d57b39e320b7149e"]]},{"id":"371a2dc31ad2b10c","type":"inject","z":"200cf880.993108","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[12345,45678]","payloadType":"bin","x":90,"y":620,"wires":[["869cbfb2dbc87c26"]]},{"id":"046322a1c5b16587","type":"inject","z":"200cf880.993108","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[10000,20000]","payloadType":"bin","x":90,"y":680,"wires":[["d896a75f7f77af55"]]},{"id":"d57b39e320b7149e","type":"modbus-response","z":"200cf880.993108","name":"","registerShowMax":20,"x":650,"y":660,"wires":[]},{"id":"869cbfb2dbc87c26","type":"function","z":"200cf880.993108","name":"샘플1","func":"msg.payload = [12345,45678];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":230,"y":620,"wires":[["a2d14620fc372ecb"]]},{"id":"d896a75f7f77af55","type":"function","z":"200cf880.993108","name":"샘플2","func":"msg.payload = [10000,20000];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":230,"y":680,"wires":[["a2d14620fc372ecb"]]},{"id":"a53d0220e8288121","type":"modbus-read","z":"200cf880.993108","name":"멀티플레지스터읽기","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"1","dataType":"HoldingRegister","adr":"0","quantity":"2","rate":"2","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"dea2537994e23bbf","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":150,"y":760,"wires":[[],["bac8daef5bb26c86"]]},{"id":"bac8daef5bb26c86","type":"buffer-parser","z":"200cf880.993108","name":"","data":"payload.buffer","dataType":"msg","specification":"spec","specificationType":"ui","items":[{"type":"uint16be","name":"item1","offset":0,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"uint16be","name":"item2","offset":2,"length":1,"offsetbit":0,"scale":"1","mask":""}],"swap1":"","swap2":"","swap3":"","swap1Type":"swap","swap2Type":"swap","swap3Type":"swap","msgProperty":"payload","msgPropertyType":"str","resultType":"keyvalue","resultTypeType":"return","multipleResult":false,"fanOutMultipleResult":false,"setTopic":true,"outputs":1,"x":350,"y":780,"wires":[["cebbbc7365b4274c"]]},{"id":"cebbbc7365b4274c","type":"debug","z":"200cf880.993108","name":"debug 2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":540,"y":780,"wires":[]},{"id":"dea2537994e23bbf","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"failureLogEnabled":true,"tcpHost":"192.168.0.100","tcpPort":"60000","tcpType":"DEFAULT","serialPort":"COM6","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true}]
