slide28-6
[{"id":"aa015b5a12eb868c","type":"modbus-read","z":"200cf880.993108","name":"","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"1","dataType":"HoldingRegister","adr":"0","quantity":"11","rate":"500","rateUnit":"ms","delayOnStart":false,"startDelayTime":"","server":"dea2537994e23bbf","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":90,"y":140,"wires":[[],["8f54cee446b8a656"]]},{"id":"8f54cee446b8a656","type":"buffer-parser","z":"200cf880.993108","name":"","data":"payload.buffer","dataType":"msg","specification":"spec","specificationType":"ui","items":[{"type":"uint16le","name":"item1","offset":0,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"uint16le","name":"item2","offset":2,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"uint16le","name":"item3","offset":4,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"uint16le","name":"item4","offset":6,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"uint16le","name":"item5","offset":8,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"floatle","name":"item6","offset":10,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"uint16le","name":"item7","offset":14,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"uint16le","name":"item8","offset":16,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"floatle","name":"item9","offset":18,"length":1,"offsetbit":0,"scale":"1","mask":""}],"swap1":"swap16","swap2":"","swap3":"","swap1Type":"swap","swap2Type":"swap","swap3Type":"swap","msgProperty":"payload","msgPropertyType":"str","resultType":"keyvalue","resultTypeType":"return","multipleResult":false,"fanOutMultipleResult":false,"setTopic":true,"outputs":1,"x":270,"y":140,"wires":[["3a185978763c5d0e"]]},{"id":"b9fd21d870fd3812","type":"ui_text","z":"200cf880.993108","group":"2e91c6de.e9a80a","order":9,"width":0,"height":0,"name":"","label":"전체목표용량","format":"{{msg.payload.item1}} ml","layout":"row-spread","className":"","x":560,"y":180,"wires":[]},{"id":"4cb23f6b372ef725","type":"ui_text","z":"200cf880.993108","group":"2e91c6de.e9a80a","order":1,"width":0,"height":0,"name":"","label":"비율","format":"{{msg.payload.item2}}","layout":"row-spread","className":"","x":530,"y":220,"wires":[]},{"id":"bb3a42fd0f11ad1f","type":"ui_text","z":"200cf880.993108","group":"2e91c6de.e9a80a","order":2,"width":0,"height":0,"name":"","label":"유속","format":"{{msg.payload.item3}}","layout":"row-spread","className":"","x":532,"y":256,"wires":[]},{"id":"c5202b33634bc494","type":"ui_text","z":"200cf880.993108","group":"2e91c6de.e9a80a","order":3,"width":0,"height":0,"name":"","label":"펌프1카운터","format":"{{msg.payload.item4}}","layout":"row-spread","className":"","x":550,"y":300,"wires":[]},{"id":"47c2d1e3036ad924","type":"ui_text","z":"200cf880.993108","group":"2e91c6de.e9a80a","order":4,"width":0,"height":0,"name":"","label":"펌프1목표카운터","format":"{{msg.payload.item5}}","layout":"row-spread","className":"","x":570,"y":340,"wires":[]},{"id":"7712c6c0b637adea","type":"ui_text","z":"200cf880.993108","group":"2e91c6de.e9a80a","order":5,"width":0,"height":0,"name":"","label":"펌프1의현재유량","format":"{{msg.payload.item6}} ml","layout":"row-spread","className":"","x":570,"y":380,"wires":[]},{"id":"ee295f153e2a8284","type":"ui_text","z":"200cf880.993108","group":"2e91c6de.e9a80a","order":6,"width":0,"height":0,"name":"","label":"펌프2의카운터","format":"{{msg.payload.item7}}","layout":"row-spread","className":"","x":560,"y":420,"wires":[]},{"id":"0d2d8a68f8079bc1","type":"ui_text","z":"200cf880.993108","group":"2e91c6de.e9a80a","order":7,"width":0,"height":0,"name":"","label":"펌프2의목표지점","format":"{{msg.payload.item8}}","layout":"row-spread","className":"","x":570,"y":460,"wires":[]},{"id":"c6de32ebdbb9b6cc","type":"ui_text","z":"200cf880.993108","group":"2e91c6de.e9a80a","order":8,"width":0,"height":0,"name":"","label":"펌프2의현재유량","format":"{{msg.payload.item9}} ml","layout":"row-spread","className":"","x":570,"y":500,"wires":[]},{"id":"fa74a1520789af1d","type":"ui_form","z":"200cf880.993108","name":"","label":"뉵칸다의 소맥제조기","group":"37b8047e.89c1ec","order":6,"width":0,"height":0,"options":[{"label":"소주의비율","value":"ratio","type":"number","required":true,"rows":null},{"label":"컵의용량(ml)","value":"ml","type":"number","required":true,"rows":null}],"formValue":{"ratio":"","ml":""},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","className":"","x":100,"y":540,"wires":[["a83db5c236bfa38b","85c124e8309a0ebd"]]},{"id":"a9bc195a00637a37","type":"modbus-write","z":"200cf880.993108","name":"","showStatusActivities":false,"showErrors":false,"unitid":"1","dataType":"MHoldingRegisters","adr":"0","quantity":"2","server":"dea2537994e23bbf","emptyMsgOnFail":false,"keepMsgProperties":false,"x":480,"y":580,"wires":[[],[]]},{"id":"a83db5c236bfa38b","type":"function","z":"200cf880.993108","name":"function 1","func":"var data = [];\ndata.push(msg.payload.ml);\ndata.push(msg.payload.ratio);\nmsg.payload = data;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":240,"y":600,"wires":[["a9bc195a00637a37"]]},{"id":"d3429bdf27827adf","type":"modbus-write","z":"200cf880.993108","name":"","showStatusActivities":false,"showErrors":false,"unitid":"1","dataType":"Coil","adr":"32","quantity":"1","server":"dea2537994e23bbf","emptyMsgOnFail":false,"keepMsgProperties":false,"x":480,"y":640,"wires":[[],[]]},{"id":"85c124e8309a0ebd","type":"change","z":"200cf880.993108","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":260,"y":640,"wires":[["d3429bdf27827adf"]]},{"id":"bf4f320e345ccde4","type":"ui_button","z":"200cf880.993108","name":"","group":"37b8047e.89c1ec","order":5,"width":0,"height":0,"passthru":false,"label":"작업중단하기","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"true","payloadType":"bool","topic":"topic","topicType":"msg","x":120,"y":700,"wires":[["db097f2d532a5197"]]},{"id":"db097f2d532a5197","type":"modbus-write","z":"200cf880.993108","name":"","showStatusActivities":false,"showErrors":false,"unitid":"1","dataType":"Coil","adr":"33","quantity":"1","server":"dea2537994e23bbf","emptyMsgOnFail":false,"keepMsgProperties":false,"x":440,"y":700,"wires":[[],[]]},{"id":"1ed3acbb817cf98d","type":"ui_button","z":"200cf880.993108","name":"","group":"37b8047e.89c1ec","order":3,"width":2,"height":1,"passthru":false,"label":"100ml(2:8)","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"true","payloadType":"bool","topic":"topic","topicType":"msg","x":130,"y":780,"wires":[["9db1e8e18d9c4571","b6b29c46805a80a3"]]},{"id":"fad1234764297059","type":"ui_button","z":"200cf880.993108","name":"","group":"37b8047e.89c1ec","order":2,"width":2,"height":1,"passthru":false,"label":"100ml(3:7)","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"true","payloadType":"bool","topic":"topic","topicType":"msg","x":130,"y":860,"wires":[["f92d2050c48c98ff","fabd0c92e042897e"]]},{"id":"fd7b3a1dccc9cc72","type":"ui_button","z":"200cf880.993108","name":"","group":"37b8047e.89c1ec","order":4,"width":2,"height":1,"passthru":false,"label":"150ml(2:8)","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"true","payloadType":"bool","topic":"topic","topicType":"msg","x":130,"y":940,"wires":[["c22481abd91f0932","8f85c927f30d4397"]]},{"id":"6eea3a85c1d3a669","type":"ui_button","z":"200cf880.993108","name":"","group":"37b8047e.89c1ec","order":1,"width":2,"height":1,"passthru":false,"label":"200ml(5:5)","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"true","payloadType":"bool","topic":"topic","topicType":"msg","x":130,"y":1020,"wires":[["1f308fb34f30b3b6","9a4f70536422fb62"]]},{"id":"b6b29c46805a80a3","type":"function","z":"200cf880.993108","name":"function 2","func":"var data = [];\ndata.push(100);\ndata.push(2);\nmsg.payload = data;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":780,"wires":[["48c569656e7e10a3"]]},{"id":"f92d2050c48c98ff","type":"function","z":"200cf880.993108","name":"function 3","func":"var data = [];\ndata.push(100);\ndata.push(3);\nmsg.payload = data;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":860,"wires":[["48c569656e7e10a3"]]},{"id":"c22481abd91f0932","type":"function","z":"200cf880.993108","name":"function 4","func":"var data = [];\ndata.push(150);\ndata.push(2);\nmsg.payload = data;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":940,"wires":[["48c569656e7e10a3"]]},{"id":"1f308fb34f30b3b6","type":"function","z":"200cf880.993108","name":"function 5","func":"var data = [];\ndata.push(200);\ndata.push(5);\nmsg.payload = data;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":1020,"wires":[["48c569656e7e10a3"]]},{"id":"9db1e8e18d9c4571","type":"change","z":"200cf880.993108","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":820,"wires":[["c1f7d8a45712595c"]]},{"id":"48c569656e7e10a3","type":"modbus-write","z":"200cf880.993108","name":"","showStatusActivities":false,"showErrors":false,"unitid":"1","dataType":"MHoldingRegisters","adr":"0","quantity":"2","server":"dea2537994e23bbf","emptyMsgOnFail":false,"keepMsgProperties":false,"x":540,"y":860,"wires":[[],[]]},{"id":"fabd0c92e042897e","type":"change","z":"200cf880.993108","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":900,"wires":[["c1f7d8a45712595c"]]},{"id":"8f85c927f30d4397","type":"change","z":"200cf880.993108","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":980,"wires":[["c1f7d8a45712595c"]]},{"id":"9a4f70536422fb62","type":"change","z":"200cf880.993108","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":1060,"wires":[["c1f7d8a45712595c"]]},{"id":"c1f7d8a45712595c","type":"modbus-write","z":"200cf880.993108","name":"","showStatusActivities":false,"showErrors":false,"unitid":"1","dataType":"Coil","adr":"32","quantity":"1","server":"dea2537994e23bbf","emptyMsgOnFail":false,"keepMsgProperties":false,"x":540,"y":920,"wires":[[],[]]},{"id":"3a185978763c5d0e","type":"function","z":"200cf880.993108","name":"function 6","func":"var data = msg.payload.item2;\nvar data2 = 10-data;\n\nvar text = data + \":\" + data2;\nmsg.payload.item2 = text;\n\nmsg.payload.item3 = msg.payload.item3/100;\n\nmsg.payload.item6 = Math.floor(msg.payload.item6 *100) / 100;\nmsg.payload.item9 = Math.floor(msg.payload.item9 * 100) / 100;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":240,"wires":[["b9fd21d870fd3812","4cb23f6b372ef725","bb3a42fd0f11ad1f","c5202b33634bc494","47c2d1e3036ad924","7712c6c0b637adea","ee295f153e2a8284","0d2d8a68f8079bc1","c6de32ebdbb9b6cc"]]},{"id":"dea2537994e23bbf","type":"modbus-client","name":"","clienttype":"simpleser","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"failureLogEnabled":true,"tcpHost":"192.168.0.100","tcpPort":"60000","tcpType":"DEFAULT","serialPort":"COM6","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"2e91c6de.e9a80a","type":"ui_group","name":"Group 1","tab":"a8c3dc2a.d66a8","order":1,"disp":true,"width":8,"collapse":false,"className":""},{"id":"37b8047e.89c1ec","type":"ui_group","name":"Group 2","tab":"a8c3dc2a.d66a8","order":2,"disp":true,"width":8},{"id":"a8c3dc2a.d66a8","type":"ui_tab","name":"노드1번","icon":"dashboard","order":1,"disabled":false,"hidden":false}]
