slide15-13
[{"id":"92c2730a9c5fb999","type":"modbus-read","z":"200cf880.993108","name":"","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"1","dataType":"HoldingRegister","adr":"0","quantity":"4","rate":"1","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"dea2537994e23bbf","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":130,"y":100,"wires":[[],["65dcd2b17b351681"]]},{"id":"65dcd2b17b351681","type":"buffer-parser","z":"200cf880.993108","name":"","data":"payload.buffer","dataType":"msg","specification":"spec","specificationType":"ui","items":[{"type":"floatbe","name":"temp","offset":0,"length":1,"offsetbit":0,"scale":"1","mask":""}],"swap1":"swap16","swap2":"","swap3":"","swap1Type":"swap","swap2Type":"swap","swap3Type":"swap","msgProperty":"payload","msgPropertyType":"str","resultType":"keyvalue","resultTypeType":"return","multipleResult":false,"fanOutMultipleResult":false,"setTopic":true,"outputs":1,"x":230,"y":200,"wires":[["9e7d5fcea06cc6e3"]]},{"id":"9e7d5fcea06cc6e3","type":"function","z":"200cf880.993108","name":"소수점 자르기","func":"\nmsg.payload.temp = Math.floor(msg.payload.temp * 100) / 100;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":260,"wires":[["1f8cad4a9ed5e831","14113c8099529a78"]]},{"id":"1f8cad4a9ed5e831","type":"ui_gauge","z":"200cf880.993108","name":"","group":"2e91c6de.e9a80a","order":0,"width":0,"height":0,"gtype":"gage","title":"온도","label":"units","format":"{{msg.payload.temp}}","min":0,"max":"150","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":550,"y":240,"wires":[]},{"id":"46343f5c3c6c4cdb","type":"modbus-write","z":"200cf880.993108","name":"","showStatusActivities":false,"showErrors":false,"unitid":"1","dataType":"Coil","adr":"0","quantity":"1","server":"dea2537994e23bbf","emptyMsgOnFail":false,"keepMsgProperties":false,"x":480,"y":360,"wires":[[],[]]},{"id":"14113c8099529a78","type":"switch","z":"200cf880.993108","name":"","property":"payload.temp","propertyType":"msg","rules":[{"t":"gt","v":"60","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":150,"y":360,"wires":[["245dda2fcca7a85b"],["5351ad5a012c70ca"]]},{"id":"245dda2fcca7a85b","type":"change","z":"200cf880.993108","name":"true","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":340,"wires":[["46343f5c3c6c4cdb"]]},{"id":"5351ad5a012c70ca","type":"change","z":"200cf880.993108","name":"false","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":400,"wires":[["46343f5c3c6c4cdb"]]},{"id":"dea2537994e23bbf","type":"modbus-client","name":"","clienttype":"simpleser","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"failureLogEnabled":true,"tcpHost":"127.0.0.1","tcpPort":"60000","tcpType":"DEFAULT","serialPort":"COM6","serialType":"RTU-BUFFERD","serialBaudrate":"57600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"2e91c6de.e9a80a","type":"ui_group","name":"Group 1","tab":"a8c3dc2a.d66a8","order":1,"disp":true,"width":8,"collapse":false,"className":""},{"id":"a8c3dc2a.d66a8","type":"ui_tab","name":"노드1번","icon":"dashboard","order":1,"disabled":false,"hidden":false}]
