slide15-7
[{"id":"138da6f0c5acc7c5","type":"modbus-write","z":"200cf880.993108","name":"38","showStatusActivities":false,"showErrors":false,"unitid":"1","dataType":"Coil","adr":"0","quantity":"1","server":"dea2537994e23bbf","emptyMsgOnFail":false,"keepMsgProperties":false,"x":450,"y":120,"wires":[[],[]]},{"id":"6392e6e4d3375353","type":"ui_button","z":"200cf880.993108","name":"","group":"2e91c6de.e9a80a","order":1,"width":4,"height":1,"passthru":false,"label":"38번켜기","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"true","payloadType":"bool","topic":"topic","topicType":"msg","x":260,"y":100,"wires":[["138da6f0c5acc7c5"]]},{"id":"baa5facb1fdfabc4","type":"ui_button","z":"200cf880.993108","name":"","group":"2e91c6de.e9a80a","order":2,"width":4,"height":1,"passthru":false,"label":"38번끄기","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"false","payloadType":"bool","topic":"topic","topicType":"msg","x":260,"y":140,"wires":[["138da6f0c5acc7c5"]]},{"id":"cf4ce2f456f67638","type":"modbus-read","z":"200cf880.993108","name":"","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"1","dataType":"Coil","adr":"0","quantity":"3","rate":"500","rateUnit":"ms","delayOnStart":false,"startDelayTime":"","server":"dea2537994e23bbf","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":130,"y":420,"wires":[[],["2f4a241c4e100380","7e107de60371deb4","98e6ae251834627b"]]},{"id":"9252dad9f31b7b43","type":"ui_text","z":"200cf880.993108","group":"2e91c6de.e9a80a","order":7,"width":0,"height":0,"name":"","label":"38번상태","format":"{{msg.payload}}","layout":"row-spread","className":"","x":620,"y":540,"wires":[]},{"id":"2f4a241c4e100380","type":"switch","z":"200cf880.993108","name":"","property":"payload.data[0]","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":330,"y":420,"wires":[["b294c4efa361661b"],["2811998d1da68f10"]]},{"id":"b294c4efa361661b","type":"change","z":"200cf880.993108","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"OFF","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":480,"wires":[["9252dad9f31b7b43"]]},{"id":"2811998d1da68f10","type":"change","z":"200cf880.993108","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":540,"wires":[["9252dad9f31b7b43"]]},{"id":"b84190d640427885","type":"modbus-write","z":"200cf880.993108","name":"39","showStatusActivities":false,"showErrors":false,"unitid":"1","dataType":"Coil","adr":"1","quantity":"1","server":"dea2537994e23bbf","emptyMsgOnFail":false,"keepMsgProperties":false,"x":450,"y":200,"wires":[[],[]]},{"id":"de05e9213342238a","type":"ui_button","z":"200cf880.993108","name":"","group":"2e91c6de.e9a80a","order":3,"width":4,"height":1,"passthru":false,"label":"39번켜기","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"true","payloadType":"bool","topic":"topic","topicType":"msg","x":260,"y":180,"wires":[["b84190d640427885"]]},{"id":"f8b436baf98946f2","type":"ui_button","z":"200cf880.993108","name":"","group":"2e91c6de.e9a80a","order":4,"width":4,"height":1,"passthru":false,"label":"39번끄기","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"false","payloadType":"bool","topic":"topic","topicType":"msg","x":260,"y":220,"wires":[["b84190d640427885"]]},{"id":"3ed893f43b1b05d3","type":"modbus-write","z":"200cf880.993108","name":"40","showStatusActivities":false,"showErrors":false,"unitid":"1","dataType":"Coil","adr":"2","quantity":"1","server":"dea2537994e23bbf","emptyMsgOnFail":false,"keepMsgProperties":false,"x":450,"y":280,"wires":[[],[]]},{"id":"2d1ed75d75027569","type":"ui_button","z":"200cf880.993108","name":"","group":"2e91c6de.e9a80a","order":5,"width":4,"height":1,"passthru":false,"label":"40번켜기","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"true","payloadType":"bool","topic":"topic","topicType":"msg","x":260,"y":260,"wires":[["3ed893f43b1b05d3"]]},{"id":"588835aba05371da","type":"ui_button","z":"200cf880.993108","name":"","group":"2e91c6de.e9a80a","order":6,"width":4,"height":1,"passthru":false,"label":"40번끄기","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"false","payloadType":"bool","topic":"topic","topicType":"msg","x":260,"y":300,"wires":[["3ed893f43b1b05d3"]]},{"id":"e9e36718ced166cb","type":"ui_text","z":"200cf880.993108","group":"2e91c6de.e9a80a","order":7,"width":0,"height":0,"name":"","label":"39번상태","format":"{{msg.payload}}","layout":"row-spread","className":"","x":600,"y":720,"wires":[]},{"id":"7e107de60371deb4","type":"switch","z":"200cf880.993108","name":"","property":"payload.data[1]","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":310,"y":600,"wires":[["073cac23c633e879"],["0aa17e61f3d1517e"]]},{"id":"073cac23c633e879","type":"change","z":"200cf880.993108","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"OFF","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":660,"wires":[["e9e36718ced166cb"]]},{"id":"0aa17e61f3d1517e","type":"change","z":"200cf880.993108","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":720,"wires":[["e9e36718ced166cb"]]},{"id":"ae53b1c55166c0bd","type":"ui_text","z":"200cf880.993108","group":"2e91c6de.e9a80a","order":7,"width":0,"height":0,"name":"","label":"40번상태","format":"{{msg.payload}}","layout":"row-spread","className":"","x":600,"y":900,"wires":[]},{"id":"98e6ae251834627b","type":"switch","z":"200cf880.993108","name":"","property":"payload.data[2]","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":310,"y":780,"wires":[["a196b589c741ba2d"],["9ef11e0c3ca5af65"]]},{"id":"a196b589c741ba2d","type":"change","z":"200cf880.993108","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"OFF","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":840,"wires":[["ae53b1c55166c0bd"]]},{"id":"9ef11e0c3ca5af65","type":"change","z":"200cf880.993108","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":900,"wires":[["ae53b1c55166c0bd"]]},{"id":"dea2537994e23bbf","type":"modbus-client","name":"","clienttype":"simpleser","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"failureLogEnabled":true,"tcpHost":"127.0.0.1","tcpPort":"60000","tcpType":"DEFAULT","serialPort":"COM6","serialType":"RTU-BUFFERD","serialBaudrate":"57600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"2e91c6de.e9a80a","type":"ui_group","name":"Group 1","tab":"a8c3dc2a.d66a8","order":1,"disp":true,"width":8,"collapse":false,"className":""},{"id":"a8c3dc2a.d66a8","type":"ui_tab","name":"노드1번","icon":"dashboard","order":1,"disabled":false,"hidden":false}]
