slide24-4
[{"id":"6326c72d2140e19b","type":"modbus-read","z":"200cf880.993108","name":"","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"1","dataType":"HoldingRegister","adr":"0","quantity":"1","rate":"500","rateUnit":"ms","delayOnStart":false,"startDelayTime":"","server":"dea2537994e23bbf","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":130,"y":220,"wires":[[],["6bbc125c5841ef8f"]]},{"id":"6bbc125c5841ef8f","type":"buffer-parser","z":"200cf880.993108","name":"","data":"payload.buffer","dataType":"msg","specification":"spec","specificationType":"ui","items":[{"type":"int16be","name":"item1","offset":0,"length":1,"offsetbit":0,"scale":"1","mask":""}],"swap1":"","swap2":"","swap3":"","swap1Type":"swap","swap2Type":"swap","swap3Type":"swap","msgProperty":"payload","msgPropertyType":"str","resultType":"keyvalue","resultTypeType":"return","multipleResult":false,"fanOutMultipleResult":false,"setTopic":true,"outputs":1,"x":310,"y":240,"wires":[["06a6a0a7e045157f"]]},{"id":"94b626a3002f7dc6","type":"ui_text","z":"200cf880.993108","group":"2e91c6de.e9a80a","order":0,"width":0,"height":0,"name":"","label":"현재단계","format":"{{msg.payload}}","layout":"row-spread","className":"","x":520,"y":220,"wires":[]},{"id":"06a6a0a7e045157f","type":"function","z":"200cf880.993108","name":"function 1","func":"var text = \"\";\nif(msg.payload.item1 == 0){\n   text = \"붕어빵 틀의 뚜껑을 연다!\";\n} else if (msg.payload.item1 == 1) {\n   text = \"반죽을 넣는다!\";\n} else if (msg.payload.item1 == 2) {\n    text = \"반죽빵 틀의 뚜껑을 닫는다!\";\n} else if (msg.payload.item1 == 3) {\n    text = \"빵틀을 회전시키면서 굽는다!!\";\n} else if (msg.payload.item1 == 4) {\n    text = \"배출한다!\";\n}\nmsg.payload = text;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":320,"wires":[["94b626a3002f7dc6"]]},{"id":"522ab34a4a9a5531","type":"modbus-read","z":"200cf880.993108","name":"","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"1","dataType":"Coil","adr":"29","quantity":"1","rate":"500","rateUnit":"ms","delayOnStart":false,"startDelayTime":"","server":"dea2537994e23bbf","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":130,"y":420,"wires":[[],["60cec7ac40959607"]]},{"id":"2f15805ec4fe72b5","type":"ui_text","z":"200cf880.993108","group":"2e91c6de.e9a80a","order":0,"width":0,"height":0,"name":"","label":"기계 작동상태","format":"{{msg.payload}}","layout":"row-spread","className":"","x":540,"y":400,"wires":[]},{"id":"60cec7ac40959607","type":"function","z":"200cf880.993108","name":"function 2","func":"var text = \"\";\nif(msg.payload.data[0]){\n   text = \"작동중!\";\n} else {\n    text = \"멈춤!\";\n}\nmsg.payload = text;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":420,"wires":[["2f15805ec4fe72b5"]]},{"id":"dea2537994e23bbf","type":"modbus-client","name":"","clienttype":"simpleser","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"failureLogEnabled":true,"tcpHost":"192.168.0.100","tcpPort":"60000","tcpType":"DEFAULT","serialPort":"COM6","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"2e91c6de.e9a80a","type":"ui_group","name":"Group 1","tab":"a8c3dc2a.d66a8","order":1,"disp":true,"width":8,"collapse":false,"className":""},{"id":"a8c3dc2a.d66a8","type":"ui_tab","name":"노드1번","icon":"dashboard","order":1,"disabled":false,"hidden":false}]
