slide15-5
[{"id":"138da6f0c5acc7c5","type":"modbus-write","z":"200cf880.993108","name":"38","showStatusActivities":false,"showErrors":false,"unitid":"1","dataType":"Coil","adr":"0","quantity":"1","server":"dea2537994e23bbf","emptyMsgOnFail":false,"keepMsgProperties":false,"x":290,"y":280,"wires":[["70948daf1b3cb64e"],["70948daf1b3cb64e"]]},{"id":"70948daf1b3cb64e","type":"debug","z":"200cf880.993108","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":540,"y":420,"wires":[]},{"id":"6392e6e4d3375353","type":"ui_button","z":"200cf880.993108","name":"","group":"2e91c6de.e9a80a","order":1,"width":4,"height":1,"passthru":false,"label":"38번켜기","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"true","payloadType":"bool","topic":"topic","topicType":"msg","x":140,"y":260,"wires":[["138da6f0c5acc7c5"]]},{"id":"baa5facb1fdfabc4","type":"ui_button","z":"200cf880.993108","name":"","group":"2e91c6de.e9a80a","order":2,"width":4,"height":1,"passthru":false,"label":"38번끄기","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"false","payloadType":"bool","topic":"topic","topicType":"msg","x":140,"y":300,"wires":[["138da6f0c5acc7c5"]]},{"id":"f1634bbffdec1c54","type":"modbus-write","z":"200cf880.993108","name":"39","showStatusActivities":false,"showErrors":false,"unitid":"1","dataType":"Coil","adr":"1","quantity":"1","server":"dea2537994e23bbf","emptyMsgOnFail":false,"keepMsgProperties":false,"x":290,"y":380,"wires":[["70948daf1b3cb64e"],["70948daf1b3cb64e"]]},{"id":"8eb0b23ce6d5bba7","type":"ui_button","z":"200cf880.993108","name":"","group":"2e91c6de.e9a80a","order":3,"width":4,"height":1,"passthru":false,"label":"39번켜기","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"true","payloadType":"bool","topic":"topic","topicType":"msg","x":140,"y":360,"wires":[["f1634bbffdec1c54"]]},{"id":"c330a7923ddce071","type":"ui_button","z":"200cf880.993108","name":"","group":"2e91c6de.e9a80a","order":4,"width":4,"height":1,"passthru":false,"label":"39번끄기","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"false","payloadType":"bool","topic":"topic","topicType":"msg","x":140,"y":400,"wires":[["f1634bbffdec1c54"]]},{"id":"6572dc74b7b7f503","type":"modbus-write","z":"200cf880.993108","name":"40","showStatusActivities":false,"showErrors":false,"unitid":"1","dataType":"Coil","adr":"2","quantity":"1","server":"dea2537994e23bbf","emptyMsgOnFail":false,"keepMsgProperties":false,"x":290,"y":480,"wires":[[],[]]},{"id":"b810c8af46f6ee3e","type":"ui_button","z":"200cf880.993108","name":"","group":"2e91c6de.e9a80a","order":5,"width":0,"height":0,"passthru":false,"label":"40번켜기","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"true","payloadType":"bool","topic":"topic","topicType":"msg","x":140,"y":460,"wires":[["6572dc74b7b7f503"]]},{"id":"918155bc2bfb6100","type":"ui_button","z":"200cf880.993108","name":"","group":"2e91c6de.e9a80a","order":18,"width":0,"height":0,"passthru":false,"label":"40번끄기","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"false","payloadType":"bool","topic":"topic","topicType":"msg","x":140,"y":500,"wires":[["6572dc74b7b7f503"]]},{"id":"d5c676af3cca05d3","type":"modbus-write","z":"200cf880.993108","name":"41","showStatusActivities":false,"showErrors":false,"unitid":"1","dataType":"Coil","adr":"3","quantity":"1","server":"dea2537994e23bbf","emptyMsgOnFail":false,"keepMsgProperties":false,"x":290,"y":580,"wires":[[],[]]},{"id":"de624ff1d519d1a6","type":"ui_button","z":"200cf880.993108","name":"","group":"2e91c6de.e9a80a","order":6,"width":0,"height":0,"passthru":false,"label":"41번켜기","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"true","payloadType":"bool","topic":"topic","topicType":"msg","x":140,"y":560,"wires":[["d5c676af3cca05d3"]]},{"id":"b199fb9d299480b1","type":"ui_button","z":"200cf880.993108","name":"","group":"2e91c6de.e9a80a","order":19,"width":0,"height":0,"passthru":false,"label":"41번끄기","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"false","payloadType":"bool","topic":"topic","topicType":"msg","x":140,"y":600,"wires":[["d5c676af3cca05d3"]]},{"id":"ca2b78e0b16dcfc7","type":"modbus-write","z":"200cf880.993108","name":"42","showStatusActivities":false,"showErrors":false,"unitid":"1","dataType":"Coil","adr":"4","quantity":"1","server":"dea2537994e23bbf","emptyMsgOnFail":false,"keepMsgProperties":false,"x":290,"y":680,"wires":[[],[]]},{"id":"7c0d5a142ece23f5","type":"ui_button","z":"200cf880.993108","name":"","group":"2e91c6de.e9a80a","order":7,"width":0,"height":0,"passthru":false,"label":"42번켜기","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"true","payloadType":"bool","topic":"topic","topicType":"msg","x":140,"y":660,"wires":[["ca2b78e0b16dcfc7"]]},{"id":"aadc80eaf72ef167","type":"ui_button","z":"200cf880.993108","name":"","group":"2e91c6de.e9a80a","order":20,"width":0,"height":0,"passthru":false,"label":"42번끄기","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"false","payloadType":"bool","topic":"topic","topicType":"msg","x":140,"y":700,"wires":[["ca2b78e0b16dcfc7"]]},{"id":"6bfb1327de966d34","type":"modbus-write","z":"200cf880.993108","name":"43","showStatusActivities":false,"showErrors":false,"unitid":"1","dataType":"Coil","adr":"5","quantity":"1","server":"dea2537994e23bbf","emptyMsgOnFail":false,"keepMsgProperties":false,"x":290,"y":780,"wires":[[],[]]},{"id":"bda1b511011d68fa","type":"ui_button","z":"200cf880.993108","name":"","group":"2e91c6de.e9a80a","order":8,"width":0,"height":0,"passthru":false,"label":"43번켜기","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"true","payloadType":"bool","topic":"topic","topicType":"msg","x":140,"y":760,"wires":[["6bfb1327de966d34"]]},{"id":"0ec8f86d44708498","type":"ui_button","z":"200cf880.993108","name":"","group":"2e91c6de.e9a80a","order":21,"width":0,"height":0,"passthru":false,"label":"43번끄기","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"false","payloadType":"bool","topic":"topic","topicType":"msg","x":140,"y":800,"wires":[["6bfb1327de966d34"]]},{"id":"bc6d7ee4fb12baad","type":"modbus-write","z":"200cf880.993108","name":"44","showStatusActivities":false,"showErrors":false,"unitid":"1","dataType":"Coil","adr":"6","quantity":"1","server":"dea2537994e23bbf","emptyMsgOnFail":false,"keepMsgProperties":false,"x":290,"y":880,"wires":[[],[]]},{"id":"617624674e428b61","type":"ui_button","z":"200cf880.993108","name":"","group":"2e91c6de.e9a80a","order":9,"width":0,"height":0,"passthru":false,"label":"44번켜기","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"true","payloadType":"bool","topic":"topic","topicType":"msg","x":140,"y":860,"wires":[["bc6d7ee4fb12baad"]]},{"id":"7fea66c3a6fad048","type":"ui_button","z":"200cf880.993108","name":"","group":"2e91c6de.e9a80a","order":22,"width":0,"height":0,"passthru":false,"label":"44번끄기","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"false","payloadType":"bool","topic":"topic","topicType":"msg","x":140,"y":900,"wires":[["bc6d7ee4fb12baad"]]},{"id":"31cfc449abe97087","type":"modbus-write","z":"200cf880.993108","name":"45","showStatusActivities":false,"showErrors":false,"unitid":"1","dataType":"Coil","adr":"7","quantity":"1","server":"dea2537994e23bbf","emptyMsgOnFail":false,"keepMsgProperties":false,"x":290,"y":980,"wires":[[],[]]},{"id":"5b5dd5ac990562c5","type":"ui_button","z":"200cf880.993108","name":"","group":"2e91c6de.e9a80a","order":11,"width":0,"height":0,"passthru":false,"label":"45번켜기","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"true","payloadType":"bool","topic":"topic","topicType":"msg","x":140,"y":960,"wires":[["31cfc449abe97087"]]},{"id":"627aa339616f55dd","type":"ui_button","z":"200cf880.993108","name":"","group":"2e91c6de.e9a80a","order":23,"width":0,"height":0,"passthru":false,"label":"45번끄기","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"false","payloadType":"bool","topic":"topic","topicType":"msg","x":140,"y":1000,"wires":[["31cfc449abe97087"]]},{"id":"b7433b2a5df45bbe","type":"modbus-write","z":"200cf880.993108","name":"46","showStatusActivities":false,"showErrors":false,"unitid":"1","dataType":"Coil","adr":"8","quantity":"1","server":"dea2537994e23bbf","emptyMsgOnFail":false,"keepMsgProperties":false,"x":290,"y":1080,"wires":[[],[]]},{"id":"99297a5c44257d8a","type":"ui_button","z":"200cf880.993108","name":"","group":"2e91c6de.e9a80a","order":12,"width":0,"height":0,"passthru":false,"label":"46번켜기","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"true","payloadType":"bool","topic":"topic","topicType":"msg","x":140,"y":1060,"wires":[["b7433b2a5df45bbe"]]},{"id":"f156c1ae2094959a","type":"ui_button","z":"200cf880.993108","name":"","group":"2e91c6de.e9a80a","order":24,"width":0,"height":0,"passthru":false,"label":"46번끄기","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"false","payloadType":"bool","topic":"topic","topicType":"msg","x":140,"y":1100,"wires":[["b7433b2a5df45bbe"]]},{"id":"110a7cd17ce99e4b","type":"modbus-write","z":"200cf880.993108","name":"47","showStatusActivities":false,"showErrors":false,"unitid":"1","dataType":"Coil","adr":"9","quantity":"1","server":"dea2537994e23bbf","emptyMsgOnFail":false,"keepMsgProperties":false,"x":290,"y":1180,"wires":[[],[]]},{"id":"46c067005a6405d1","type":"ui_button","z":"200cf880.993108","name":"","group":"2e91c6de.e9a80a","order":13,"width":0,"height":0,"passthru":false,"label":"47번켜기","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"true","payloadType":"bool","topic":"topic","topicType":"msg","x":140,"y":1160,"wires":[["110a7cd17ce99e4b"]]},{"id":"24d9b007d8c7588b","type":"ui_button","z":"200cf880.993108","name":"","group":"2e91c6de.e9a80a","order":25,"width":0,"height":0,"passthru":false,"label":"47번끄기","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"false","payloadType":"bool","topic":"topic","topicType":"msg","x":140,"y":1200,"wires":[["110a7cd17ce99e4b"]]},{"id":"8bde4b6284209048","type":"modbus-write","z":"200cf880.993108","name":"48","showStatusActivities":false,"showErrors":false,"unitid":"1","dataType":"Coil","adr":"10","quantity":"1","server":"dea2537994e23bbf","emptyMsgOnFail":false,"keepMsgProperties":false,"x":290,"y":1280,"wires":[[],[]]},{"id":"df70ea9b05894068","type":"ui_button","z":"200cf880.993108","name":"","group":"2e91c6de.e9a80a","order":14,"width":0,"height":0,"passthru":false,"label":"48번켜기","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"true","payloadType":"bool","topic":"topic","topicType":"msg","x":140,"y":1260,"wires":[["8bde4b6284209048"]]},{"id":"f13b5ea15f1acd12","type":"ui_button","z":"200cf880.993108","name":"","group":"2e91c6de.e9a80a","order":26,"width":0,"height":0,"passthru":false,"label":"48번끄기","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"false","payloadType":"bool","topic":"topic","topicType":"msg","x":140,"y":1300,"wires":[["8bde4b6284209048"]]},{"id":"09c3607f5ff88209","type":"modbus-write","z":"200cf880.993108","name":"49","showStatusActivities":false,"showErrors":false,"unitid":"1","dataType":"Coil","adr":"11","quantity":"1","server":"dea2537994e23bbf","emptyMsgOnFail":false,"keepMsgProperties":false,"x":290,"y":1380,"wires":[[],[]]},{"id":"14170b4d3d40bcff","type":"ui_button","z":"200cf880.993108","name":"","group":"2e91c6de.e9a80a","order":15,"width":0,"height":0,"passthru":false,"label":"49번켜기","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"true","payloadType":"bool","topic":"topic","topicType":"msg","x":140,"y":1360,"wires":[["09c3607f5ff88209"]]},{"id":"aa31458b51c3b366","type":"ui_button","z":"200cf880.993108","name":"","group":"2e91c6de.e9a80a","order":27,"width":0,"height":0,"passthru":false,"label":"49번끄기","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"false","payloadType":"bool","topic":"topic","topicType":"msg","x":140,"y":1400,"wires":[["09c3607f5ff88209"]]},{"id":"d340482b99a11115","type":"modbus-write","z":"200cf880.993108","name":"50","showStatusActivities":false,"showErrors":false,"unitid":"1","dataType":"Coil","adr":"12","quantity":"1","server":"dea2537994e23bbf","emptyMsgOnFail":false,"keepMsgProperties":false,"x":290,"y":1480,"wires":[[],[]]},{"id":"fa2f3df36e14b914","type":"ui_button","z":"200cf880.993108","name":"","group":"2e91c6de.e9a80a","order":16,"width":0,"height":0,"passthru":false,"label":"50번켜기","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"true","payloadType":"bool","topic":"topic","topicType":"msg","x":140,"y":1460,"wires":[["d340482b99a11115"]]},{"id":"f91483222e2ab20b","type":"ui_button","z":"200cf880.993108","name":"","group":"2e91c6de.e9a80a","order":28,"width":0,"height":0,"passthru":false,"label":"50번끄기","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"false","payloadType":"bool","topic":"topic","topicType":"msg","x":140,"y":1500,"wires":[["d340482b99a11115"]]},{"id":"01dc975e39a5caf0","type":"modbus-write","z":"200cf880.993108","name":"51","showStatusActivities":false,"showErrors":false,"unitid":"1","dataType":"Coil","adr":"13","quantity":"1","server":"dea2537994e23bbf","emptyMsgOnFail":false,"keepMsgProperties":false,"x":290,"y":1580,"wires":[[],[]]},{"id":"0788c0a016f03127","type":"ui_button","z":"200cf880.993108","name":"","group":"2e91c6de.e9a80a","order":17,"width":0,"height":0,"passthru":false,"label":"51번켜기","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"true","payloadType":"bool","topic":"topic","topicType":"msg","x":140,"y":1560,"wires":[["01dc975e39a5caf0"]]},{"id":"ad4023615ebdf135","type":"ui_button","z":"200cf880.993108","name":"","group":"2e91c6de.e9a80a","order":29,"width":0,"height":0,"passthru":false,"label":"51번끄기","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"false","payloadType":"bool","topic":"topic","topicType":"msg","x":140,"y":1600,"wires":[["01dc975e39a5caf0"]]},{"id":"dea2537994e23bbf","type":"modbus-client","name":"","clienttype":"simpleser","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"failureLogEnabled":true,"tcpHost":"127.0.0.1","tcpPort":"60000","tcpType":"DEFAULT","serialPort":"COM6","serialType":"RTU-BUFFERD","serialBaudrate":"57600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"2e91c6de.e9a80a","type":"ui_group","name":"Group 1","tab":"a8c3dc2a.d66a8","order":1,"disp":true,"width":8,"collapse":false,"className":""},{"id":"a8c3dc2a.d66a8","type":"ui_tab","name":"노드1번","icon":"dashboard","order":1,"disabled":false,"hidden":false}]
