slide27-010
[{"id":"25c5fa5dd03bfeb8","type":"modbus-read","z":"200cf880.993108","name":"","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"1","dataType":"HoldingRegister","adr":"0","quantity":"5","rate":"500","rateUnit":"ms","delayOnStart":false,"startDelayTime":"","server":"dea2537994e23bbf","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":130,"y":100,"wires":[[],["3669ce16aaf0c411"]]},{"id":"3669ce16aaf0c411","type":"buffer-parser","z":"200cf880.993108","name":"","data":"payload.buffer","dataType":"msg","specification":"spec","specificationType":"ui","items":[{"type":"floatle","name":"item1","offset":0,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"int16le","name":"item2","offset":4,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"uint16le","name":"item3","offset":6,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"uint16le","name":"item4","offset":8,"length":1,"offsetbit":0,"scale":"1","mask":""}],"swap1":"swap16","swap2":"","swap3":"","swap1Type":"swap","swap2Type":"swap","swap3Type":"swap","msgProperty":"payload","msgPropertyType":"str","resultType":"keyvalue","resultTypeType":"return","multipleResult":false,"fanOutMultipleResult":false,"setTopic":true,"outputs":1,"x":310,"y":120,"wires":[["f379160577304233"]]},{"id":"f379160577304233","type":"function","z":"200cf880.993108","name":"function 1","func":"msg.payload.item1 = Math.floor(msg.payload.item1 * 100) /100;\nif (msg.payload.item1 < 0){\n    msg.payload.item1 = 0;\n}\nmsg.payload.item3 = msg.payload.item3/100;\nmsg.payload.item4= msg.payload.item4 / 1000;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":200,"wires":[["e8b50b356ec7822b","76fe58c8552f2428","0f46ca500f935f0c","9554cb1c44e6a340","4798ae009a337b45"]]},{"id":"e8b50b356ec7822b","type":"ui_text","z":"200cf880.993108","group":"2e91c6de.e9a80a","order":7,"width":0,"height":0,"name":"","label":"측정무게","format":"{{msg.payload.item1}} Kg","layout":"row-spread","className":"","x":540,"y":120,"wires":[]},{"id":"f85a89cd900810ec","type":"modbus-read","z":"200cf880.993108","name":"","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"1","dataType":"Coil","adr":"0","quantity":"2","rate":"500","rateUnit":"ms","delayOnStart":false,"startDelayTime":"","server":"dea2537994e23bbf","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":130,"y":260,"wires":[[],["08c1376bc8da1d7d"]]},{"id":"08c1376bc8da1d7d","type":"function","z":"200cf880.993108","name":"function 2","func":"var text = \"\";\nif (msg.payload.data[0] && msg.payload.data[1]) {\n} else if (msg.payload.data[0] && !msg.payload.data[1]) {\n    //부적합\n    text = \"부적합\";\n    msg.img = \"myimg2.png\";\n} else if (!msg.payload.data[0] && msg.payload.data[1]) {\n    //적합\n    text = \"적합\";\n    msg.img = \"myimg3.png\";\n} else if (!msg.payload.data[0] && !msg.payload.data[1]) {\n    //대기중\n    text = \"대기중\";\n    msg.img = \"myimg1.png\";\n}\nmsg.payload = text;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":280,"wires":[["31b12ad445696e25","4b0bc2d3650f1ba4"]]},{"id":"31b12ad445696e25","type":"ui_text","z":"200cf880.993108","group":"2e91c6de.e9a80a","order":1,"width":0,"height":0,"name":"","label":"측정결과","format":"{{msg.payload}}","layout":"row-spread","className":"","x":520,"y":280,"wires":[]},{"id":"13acbe7df014efb4","type":"ui_button","z":"200cf880.993108","name":"","group":"37b8047e.89c1ec","order":1,"width":0,"height":0,"passthru":false,"label":"0점조절하기!","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"true","payloadType":"bool","topic":"topic","topicType":"msg","x":130,"y":360,"wires":[["b37f147093a72b50"]]},{"id":"b37f147093a72b50","type":"modbus-write","z":"200cf880.993108","name":"","showStatusActivities":false,"showErrors":false,"unitid":"1","dataType":"Coil","adr":"32","quantity":"1","server":"dea2537994e23bbf","emptyMsgOnFail":false,"keepMsgProperties":false,"x":360,"y":360,"wires":[[],[]]},{"id":"76fe58c8552f2428","type":"ui_text","z":"200cf880.993108","group":"2e91c6de.e9a80a","order":2,"width":0,"height":0,"name":"","label":"보정값","format":"{{msg.payload.item2}}","layout":"row-spread","className":"","x":530,"y":160,"wires":[]},{"id":"0f46ca500f935f0c","type":"ui_text","z":"200cf880.993108","group":"2e91c6de.e9a80a","order":3,"width":0,"height":0,"name":"","label":"기준무게","format":"{{msg.payload.item3}} Kg","layout":"row-spread","className":"","x":540,"y":200,"wires":[]},{"id":"37e406e122398014","type":"ui_form","z":"200cf880.993108","name":"","label":"기준무게 설정하기","group":"37b8047e.89c1ec","order":2,"width":0,"height":0,"options":[{"label":"기준무게","value":"w","type":"number","required":true,"rows":null}],"formValue":{"w":""},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","className":"","x":150,"y":440,"wires":[["d298048b6f526def"]]},{"id":"d298048b6f526def","type":"function","z":"200cf880.993108","name":"function 3","func":"var data = Math.floor(msg.payload.w * 100);\nmsg.payload = data;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":440,"wires":[["ca493e9c314de1d4"]]},{"id":"ca493e9c314de1d4","type":"modbus-write","z":"200cf880.993108","name":"","showStatusActivities":false,"showErrors":false,"unitid":"1","dataType":"HoldingRegister","adr":"3","quantity":"1","server":"dea2537994e23bbf","emptyMsgOnFail":false,"keepMsgProperties":false,"x":520,"y":440,"wires":[[],[]]},{"id":"4b0bc2d3650f1ba4","type":"ui_template","z":"200cf880.993108","group":"2e91c6de.e9a80a","name":"","order":6,"width":3,"height":3,"format":"<img src=/{{msg.img}}>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":520,"y":320,"wires":[[]]},{"id":"9554cb1c44e6a340","type":"ui_gauge","z":"200cf880.993108","name":"","group":"2e91c6de.e9a80a","order":5,"width":5,"height":4,"gtype":"donut","title":"측정무게","label":"kg","format":"{{msg.payload.item1}}","min":0,"max":"5","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":540,"y":80,"wires":[]},{"id":"e3c58ce051040cbc","type":"function","z":"200cf880.993108","name":"function 4","func":"var data = Math.floor(msg.payload.w * 1009);\nmsg.payload = data;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":500,"wires":[["7d968e628d9ab5e7"]]},{"id":"7d968e628d9ab5e7","type":"modbus-write","z":"200cf880.993108","name":"","showStatusActivities":false,"showErrors":false,"unitid":"1","dataType":"HoldingRegister","adr":"4","quantity":"1","server":"dea2537994e23bbf","emptyMsgOnFail":false,"keepMsgProperties":false,"x":500,"y":500,"wires":[[],[]]},{"id":"b781c72b538acc6e","type":"ui_form","z":"200cf880.993108","name":"","label":"오차범위 설정하기","group":"37b8047e.89c1ec","order":2,"width":0,"height":0,"options":[{"label":"오차","value":"w","type":"number","required":true,"rows":null}],"formValue":{"w":""},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","className":"","x":130,"y":500,"wires":[["e3c58ce051040cbc"]]},{"id":"4798ae009a337b45","type":"ui_text","z":"200cf880.993108","group":"2e91c6de.e9a80a","order":3,"width":0,"height":0,"name":"","label":"오차범위","format":"{{msg.payload.item4}} Kg","layout":"row-spread","className":"","x":540,"y":240,"wires":[]},{"id":"dea2537994e23bbf","type":"modbus-client","name":"","clienttype":"simpleser","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"failureLogEnabled":true,"tcpHost":"192.168.0.100","tcpPort":"60000","tcpType":"DEFAULT","serialPort":"COM6","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"2e91c6de.e9a80a","type":"ui_group","name":"Group 1","tab":"a8c3dc2a.d66a8","order":1,"disp":true,"width":8,"collapse":false,"className":""},{"id":"37b8047e.89c1ec","type":"ui_group","name":"Group 2","tab":"a8c3dc2a.d66a8","order":2,"disp":true,"width":7},{"id":"a8c3dc2a.d66a8","type":"ui_tab","name":"노드1번","icon":"dashboard","order":1,"disabled":false,"hidden":false}]
