slide24-12
[{"id":"7ef8e731366dda93","type":"modbus-read","z":"200cf880.993108","name":"","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"1","dataType":"Coil","adr":"29","quantity":"4","rate":"500","rateUnit":"ms","delayOnStart":false,"startDelayTime":"","server":"dea2537994e23bbf","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":150,"y":160,"wires":[[],["a975fff436cc1b5f"]]},{"id":"a975fff436cc1b5f","type":"function","z":"200cf880.993108","name":"function 1","func":"var data1 = {};\nvar data2 = {};\nvar data3 = {};\nif(msg.payload.data[0]){\n    data1.payload = \"활성\";\n}else{\n    data1.payload = \"비활성\";\n}\nif (msg.payload.data[2]) {\n    data2.payload = \"눌려짐\";\n} else {\n    data2.payload = \"안눌려짐\";\n}\nif (msg.payload.data[3]) {\n    data3.payload = \"발사가능\";\n} else {\n    data3.payload = \"연료충전중\";\n}\nreturn [data1,data2,data3];","outputs":3,"noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":160,"wires":[["8051bdd919f7e560"],["4ca58f8f6076b86f"],["fbb628f2c79c722b"]]},{"id":"8051bdd919f7e560","type":"ui_text","z":"200cf880.993108","group":"2e91c6de.e9a80a","order":0,"width":0,"height":0,"name":"","label":"활성상태","format":"{{msg.payload}}","layout":"row-spread","className":"","x":540,"y":120,"wires":[]},{"id":"4ca58f8f6076b86f","type":"ui_text","z":"200cf880.993108","group":"2e91c6de.e9a80a","order":1,"width":0,"height":0,"name":"","label":"발사버튼상태","format":"{{msg.payload}}","layout":"row-spread","className":"","x":560,"y":160,"wires":[]},{"id":"fbb628f2c79c722b","type":"ui_text","z":"200cf880.993108","group":"2e91c6de.e9a80a","order":2,"width":0,"height":0,"name":"","label":"발사가능여부","format":"{{msg.payload}}","layout":"row-spread","className":"","x":560,"y":200,"wires":[]},{"id":"dea2537994e23bbf","type":"modbus-client","name":"","clienttype":"simpleser","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"failureLogEnabled":true,"tcpHost":"192.168.0.100","tcpPort":"60000","tcpType":"DEFAULT","serialPort":"COM6","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"2e91c6de.e9a80a","type":"ui_group","name":"Group 1","tab":"a8c3dc2a.d66a8","order":1,"disp":true,"width":8,"collapse":false,"className":""},{"id":"a8c3dc2a.d66a8","type":"ui_tab","name":"노드1번","icon":"dashboard","order":1,"disabled":false,"hidden":false}]
