slide27-008
[{"id":"bc95e26f7ffc64fb","type":"modbus-read","z":"200cf880.993108","name":"","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"1","dataType":"HoldingRegister","adr":"0","quantity":"2","rate":"500","rateUnit":"ms","delayOnStart":false,"startDelayTime":"","server":"dea2537994e23bbf","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":150,"y":140,"wires":[[],["9d0e2958ee0badb9"]]},{"id":"9d0e2958ee0badb9","type":"buffer-parser","z":"200cf880.993108","name":"","data":"payload.buffer","dataType":"msg","specification":"spec","specificationType":"ui","items":[{"type":"floatle","name":"item1","offset":0,"length":1,"offsetbit":0,"scale":"1","mask":""}],"swap1":"swap16","swap2":"","swap3":"","swap1Type":"swap","swap2Type":"swap","swap3Type":"swap","msgProperty":"payload","msgPropertyType":"str","resultType":"keyvalue","resultTypeType":"return","multipleResult":false,"fanOutMultipleResult":false,"setTopic":true,"outputs":1,"x":330,"y":160,"wires":[["c7c236e2c08431e2"]]},{"id":"c7c236e2c08431e2","type":"function","z":"200cf880.993108","name":"function 1","func":"msg.payload.item1 = Math.floor(msg.payload.item1 * 100) /100;\nif (msg.payload.item1 < 0){\n    msg.payload.item1 = 0;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":240,"wires":[["2ab58d4b95fe19b3"]]},{"id":"2ab58d4b95fe19b3","type":"ui_text","z":"200cf880.993108","group":"2e91c6de.e9a80a","order":0,"width":0,"height":0,"name":"","label":"측정무게","format":"{{msg.payload.item1}} Kg","layout":"row-spread","className":"","x":540,"y":240,"wires":[]},{"id":"8a9bdf5d683d3e8c","type":"ui_button","z":"200cf880.993108","name":"","group":"2e91c6de.e9a80a","order":2,"width":0,"height":0,"passthru":false,"label":"0점조절하기!","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"true","payloadType":"bool","topic":"topic","topicType":"msg","x":130,"y":580,"wires":[["30cae4ae8160c952"]]},{"id":"30cae4ae8160c952","type":"modbus-write","z":"200cf880.993108","name":"","showStatusActivities":false,"showErrors":false,"unitid":"1","dataType":"Coil","adr":"32","quantity":"1","server":"dea2537994e23bbf","emptyMsgOnFail":false,"keepMsgProperties":false,"x":380,"y":600,"wires":[[],[]]},{"id":"d0febd37f1ee93c9","type":"modbus-read","z":"200cf880.993108","name":"","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"1","dataType":"HoldingRegister","adr":"3","quantity":"7","rate":"500","rateUnit":"ms","delayOnStart":false,"startDelayTime":"","server":"dea2537994e23bbf","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":130,"y":320,"wires":[[],["49ee31cfbd65e316","0ac0559566701f5a","3225854790b7b711","dc3bd5fa2ff045d5","16bfd8e4dafad8ec","3d77128b8d34da60","f45632dc2f4da84f"]]},{"id":"49ee31cfbd65e316","type":"ui_text","z":"200cf880.993108","group":"2e91c6de.e9a80a","order":2,"width":0,"height":0,"name":"","label":"현재등급","format":"{{msg.payload.data[0]}}","layout":"row-spread","className":"","x":420,"y":300,"wires":[]},{"id":"0ac0559566701f5a","type":"ui_text","z":"200cf880.993108","group":"2e91c6de.e9a80a","order":2,"width":0,"height":0,"name":"","label":"전체등급의 갯수","format":"{{msg.payload.data[1]}}","layout":"row-spread","className":"","x":440,"y":340,"wires":[]},{"id":"3225854790b7b711","type":"ui_text","z":"200cf880.993108","group":"2e91c6de.e9a80a","order":2,"width":0,"height":0,"name":"","label":"1등급의 기준무게","format":"{{msg.payload.data[2]}}","layout":"row-spread","className":"","x":450,"y":380,"wires":[]},{"id":"dc3bd5fa2ff045d5","type":"ui_text","z":"200cf880.993108","group":"2e91c6de.e9a80a","order":2,"width":0,"height":0,"name":"","label":"2등급의 기준무게","format":"{{msg.payload.data[3]}}","layout":"row-spread","className":"","x":450,"y":420,"wires":[]},{"id":"16bfd8e4dafad8ec","type":"ui_text","z":"200cf880.993108","group":"2e91c6de.e9a80a","order":2,"width":0,"height":0,"name":"","label":"3등급의 기준무게","format":"{{msg.payload.data[4]}}","layout":"row-spread","className":"","x":450,"y":460,"wires":[]},{"id":"3d77128b8d34da60","type":"ui_text","z":"200cf880.993108","group":"2e91c6de.e9a80a","order":2,"width":0,"height":0,"name":"","label":"4등급의 기준무게","format":"{{msg.payload.data[5]}}","layout":"row-spread","className":"","x":450,"y":500,"wires":[]},{"id":"f45632dc2f4da84f","type":"ui_text","z":"200cf880.993108","group":"2e91c6de.e9a80a","order":2,"width":0,"height":0,"name":"","label":"5등급의 기준무게","format":"{{msg.payload.data[6]}}","layout":"row-spread","className":"","x":450,"y":540,"wires":[]},{"id":"7849aa754072aa0f","type":"ui_form","z":"200cf880.993108","name":"","label":"3개의 등급으로 바꾸기","group":"37b8047e.89c1ec","order":9,"width":0,"height":0,"options":[{"label":"무게1","value":"w1","type":"number","required":true,"rows":null},{"label":"무게2","value":"w2","type":"number","required":true,"rows":null},{"label":"무게3","value":"w3","type":"number","required":true,"rows":null}],"formValue":{"w1":"","w2":"","w3":""},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","className":"","x":120,"y":700,"wires":[["8a851908aea82b4d"]]},{"id":"1d2cc7273c24caa7","type":"modbus-write","z":"200cf880.993108","name":"","showStatusActivities":false,"showErrors":false,"unitid":"1","dataType":"MHoldingRegisters","adr":"4","quantity":"4","server":"dea2537994e23bbf","emptyMsgOnFail":false,"keepMsgProperties":false,"x":480,"y":680,"wires":[[],[]]},{"id":"8a851908aea82b4d","type":"function","z":"200cf880.993108","name":"function 2","func":"var data = [];\ndata.push(3);\ndata.push(msg.payload.w1);\ndata.push(msg.payload.w2);\ndata.push(msg.payload.w3);\n\nmsg.payload = data;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":680,"wires":[["1d2cc7273c24caa7"]]},{"id":"add65bd925e842ab","type":"ui_form","z":"200cf880.993108","name":"","label":"5개의 등급으로 바꾸기","group":"fdb00772.727d78","order":9,"width":0,"height":0,"options":[{"label":"무게1","value":"w1","type":"number","required":true,"rows":null},{"label":"무게2","value":"w2","type":"number","required":true,"rows":null},{"label":"무게3","value":"w3","type":"number","required":true,"rows":null},{"label":"무게4","value":"w4","type":"number","required":true,"rows":null},{"label":"무게5","value":"w5","type":"number","required":true,"rows":null}],"formValue":{"w1":"","w2":"","w3":"","w4":"","w5":""},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","className":"","x":120,"y":760,"wires":[["ae3c850ed15c947e"]]},{"id":"ae3c850ed15c947e","type":"function","z":"200cf880.993108","name":"function 3","func":"var data = [];\ndata.push(5);\ndata.push(msg.payload.w1);\ndata.push(msg.payload.w2);\ndata.push(msg.payload.w3);\ndata.push(msg.payload.w4);\ndata.push(msg.payload.w5);\n\nmsg.payload = data;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":760,"wires":[["8a3aa6a462e80fb4"]]},{"id":"8a3aa6a462e80fb4","type":"modbus-write","z":"200cf880.993108","name":"","showStatusActivities":false,"showErrors":false,"unitid":"1","dataType":"MHoldingRegisters","adr":"4","quantity":"6","server":"dea2537994e23bbf","emptyMsgOnFail":false,"keepMsgProperties":false,"x":480,"y":760,"wires":[[],[]]},{"id":"dea2537994e23bbf","type":"modbus-client","name":"","clienttype":"simpleser","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"failureLogEnabled":true,"tcpHost":"192.168.0.100","tcpPort":"60000","tcpType":"DEFAULT","serialPort":"COM6","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"2e91c6de.e9a80a","type":"ui_group","name":"Group 1","tab":"a8c3dc2a.d66a8","order":1,"disp":true,"width":8,"collapse":false,"className":""},{"id":"37b8047e.89c1ec","type":"ui_group","name":"Group 2","tab":"a8c3dc2a.d66a8","order":2,"disp":true,"width":7},{"id":"fdb00772.727d78","type":"ui_group","name":"Group 3","tab":"a8c3dc2a.d66a8","order":3,"disp":true,"width":7},{"id":"a8c3dc2a.d66a8","type":"ui_tab","name":"노드1번","icon":"dashboard","order":1,"disabled":false,"hidden":false}]
