slide24-10
[{"id":"275866dd34f6a852","type":"modbus-read","z":"200cf880.993108","name":"","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"1","dataType":"Coil","adr":"30","quantity":"2","rate":"500","rateUnit":"ms","delayOnStart":false,"startDelayTime":"","server":"dea2537994e23bbf","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":150,"y":140,"wires":[[],["b441ba67652572e6"]]},{"id":"b441ba67652572e6","type":"function","z":"200cf880.993108","name":"function 1","func":"var data1 = {};\nvar data2 = {};\nif(msg.payload.data[0]){\n    data1.payload = \"눌려짐\";\n}else{\n    data1.payload = \"안눌려짐\";\n}\nif (msg.payload.data[1]) {\n    data2.payload = \"눌려짐\";\n} else {\n    data2.payload = \"안눌려짐\";\n}\nreturn [data1,data2];","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":140,"wires":[["dd52133f49b134f5"],["a620918daeedb134"]]},{"id":"dd52133f49b134f5","type":"ui_text","z":"200cf880.993108","group":"2e91c6de.e9a80a","order":0,"width":0,"height":0,"name":"","label":"녹색버튼의 상태","format":"{{msg.payload}}","layout":"row-spread","className":"","x":560,"y":100,"wires":[]},{"id":"a620918daeedb134","type":"ui_text","z":"200cf880.993108","group":"2e91c6de.e9a80a","order":1,"width":0,"height":0,"name":"","label":"적색버튼의상태","format":"{{msg.payload}}","layout":"row-spread","className":"","x":560,"y":160,"wires":[]},{"id":"4d5c01c7f778ab5b","type":"modbus-read","z":"200cf880.993108","name":"","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"1","dataType":"HoldingRegister","adr":"0","quantity":"2","rate":"500","rateUnit":"ms","delayOnStart":false,"startDelayTime":"","server":"dea2537994e23bbf","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":150,"y":220,"wires":[[],["e2bfeb2d170c17fe"]]},{"id":"e2bfeb2d170c17fe","type":"buffer-parser","z":"200cf880.993108","name":"","data":"payload.buffer","dataType":"msg","specification":"spec","specificationType":"ui","items":[{"type":"floatle","name":"item1","offset":0,"length":1,"offsetbit":0,"scale":"1","mask":""}],"swap1":"swap16","swap2":"","swap3":"","swap1Type":"swap","swap2Type":"swap","swap3Type":"swap","msgProperty":"payload","msgPropertyType":"str","resultType":"keyvalue","resultTypeType":"return","multipleResult":false,"fanOutMultipleResult":false,"setTopic":true,"outputs":1,"x":350,"y":240,"wires":[["23273f3d2c8a6eee"]]},{"id":"23273f3d2c8a6eee","type":"ui_text","z":"200cf880.993108","group":"2e91c6de.e9a80a","order":1,"width":0,"height":0,"name":"","label":"현재x좌표","format":"{{msg.payload.item1}}","layout":"row-spread","className":"","x":520,"y":240,"wires":[]},{"id":"dea2537994e23bbf","type":"modbus-client","name":"","clienttype":"simpleser","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"failureLogEnabled":true,"tcpHost":"192.168.0.100","tcpPort":"60000","tcpType":"DEFAULT","serialPort":"COM6","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"2e91c6de.e9a80a","type":"ui_group","name":"Group 1","tab":"a8c3dc2a.d66a8","order":1,"disp":true,"width":8,"collapse":false,"className":""},{"id":"a8c3dc2a.d66a8","type":"ui_tab","name":"노드1번","icon":"dashboard","order":1,"disabled":false,"hidden":false}]
