slide15-6
[{"id":"138da6f0c5acc7c5","type":"modbus-write","z":"200cf880.993108","name":"38","showStatusActivities":false,"showErrors":false,"unitid":"1","dataType":"Coil","adr":"0","quantity":"1","server":"dea2537994e23bbf","emptyMsgOnFail":false,"keepMsgProperties":false,"x":330,"y":280,"wires":[["70948daf1b3cb64e"],["70948daf1b3cb64e"]]},{"id":"70948daf1b3cb64e","type":"debug","z":"200cf880.993108","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":540,"y":420,"wires":[]},{"id":"6392e6e4d3375353","type":"ui_button","z":"200cf880.993108","name":"","group":"2e91c6de.e9a80a","order":1,"width":4,"height":1,"passthru":false,"label":"38번켜기","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"true","payloadType":"bool","topic":"topic","topicType":"msg","x":140,"y":260,"wires":[["138da6f0c5acc7c5"]]},{"id":"baa5facb1fdfabc4","type":"ui_button","z":"200cf880.993108","name":"","group":"2e91c6de.e9a80a","order":2,"width":4,"height":1,"passthru":false,"label":"38번끄기","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"false","payloadType":"bool","topic":"topic","topicType":"msg","x":140,"y":300,"wires":[["138da6f0c5acc7c5"]]},{"id":"cf4ce2f456f67638","type":"modbus-read","z":"200cf880.993108","name":"","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"1","dataType":"Coil","adr":"0","quantity":"1","rate":"500","rateUnit":"ms","delayOnStart":false,"startDelayTime":"","server":"dea2537994e23bbf","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":170,"y":420,"wires":[[],["2f4a241c4e100380"]]},{"id":"9252dad9f31b7b43","type":"ui_text","z":"200cf880.993108","group":"2e91c6de.e9a80a","order":3,"width":0,"height":0,"name":"","label":"38번상태","format":"{{msg.payload}}","layout":"row-spread","className":"","x":620,"y":540,"wires":[]},{"id":"2f4a241c4e100380","type":"switch","z":"200cf880.993108","name":"","property":"payload.buffer[0]","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":310,"y":480,"wires":[["b294c4efa361661b"],["2811998d1da68f10"]]},{"id":"b294c4efa361661b","type":"change","z":"200cf880.993108","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"OFF","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":480,"wires":[["9252dad9f31b7b43"]]},{"id":"2811998d1da68f10","type":"change","z":"200cf880.993108","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":540,"wires":[["9252dad9f31b7b43"]]},{"id":"dea2537994e23bbf","type":"modbus-client","name":"","clienttype":"simpleser","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"failureLogEnabled":true,"tcpHost":"127.0.0.1","tcpPort":"60000","tcpType":"DEFAULT","serialPort":"COM6","serialType":"RTU-BUFFERD","serialBaudrate":"57600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"2e91c6de.e9a80a","type":"ui_group","name":"Group 1","tab":"a8c3dc2a.d66a8","order":1,"disp":true,"width":8,"collapse":false,"className":""},{"id":"a8c3dc2a.d66a8","type":"ui_tab","name":"노드1번","icon":"dashboard","order":1,"disabled":false,"hidden":false}]
