slide15-9
[{"id":"05fda031fda2b713","type":"modbus-write","z":"200cf880.993108","name":"","showStatusActivities":false,"showErrors":false,"unitid":"1","dataType":"HoldingRegister","adr":"0","quantity":"1","server":"dea2537994e23bbf","emptyMsgOnFail":false,"keepMsgProperties":false,"x":400,"y":240,"wires":[["63d19744761c961d"],["9920653bc84ca8aa","63d19744761c961d"]]},{"id":"a3ea28bba7d37891","type":"inject","z":"200cf880.993108","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1000","payloadType":"num","x":190,"y":200,"wires":[["05fda031fda2b713"]]},{"id":"d0a9fa1815e58d4b","type":"inject","z":"200cf880.993108","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"123","payloadType":"num","x":190,"y":260,"wires":[["05fda031fda2b713"]]},{"id":"7f37f37c478d4d44","type":"inject","z":"200cf880.993108","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"9999","payloadType":"num","x":190,"y":320,"wires":[["05fda031fda2b713"]]},{"id":"f852635013f5d542","type":"inject","z":"200cf880.993108","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"999","payloadType":"num","x":190,"y":380,"wires":[["05fda031fda2b713"]]},{"id":"9920653bc84ca8aa","type":"modbus-response","z":"200cf880.993108","name":"","registerShowMax":20,"x":550,"y":320,"wires":[]},{"id":"63d19744761c961d","type":"debug","z":"200cf880.993108","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":560,"y":160,"wires":[]},{"id":"dea2537994e23bbf","type":"modbus-client","name":"","clienttype":"simpleser","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"failureLogEnabled":true,"tcpHost":"127.0.0.1","tcpPort":"60000","tcpType":"DEFAULT","serialPort":"COM6","serialType":"RTU-BUFFERD","serialBaudrate":"57600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true}]
