slide23-4
[{"id":"19545b0fa5ae3f52","type":"modbus-write","z":"200cf880.993108","name":"","showStatusActivities":false,"showErrors":false,"unitid":"1","dataType":"Coil","adr":"32","quantity":"1","server":"dea2537994e23bbf","emptyMsgOnFail":false,"keepMsgProperties":false,"x":340,"y":160,"wires":[[],["01fdd1e7d14d0eec"]]},{"id":"01fdd1e7d14d0eec","type":"modbus-response","z":"200cf880.993108","name":"","registerShowMax":20,"x":510,"y":200,"wires":[]},{"id":"0514ac174e4cfec4","type":"ui_button","z":"200cf880.993108","name":"","group":"2e91c6de.e9a80a","order":0,"width":0,"height":0,"passthru":false,"label":"TASK1작동시키기","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"true","payloadType":"bool","topic":"topic","topicType":"msg","x":110,"y":140,"wires":[["19545b0fa5ae3f52"]]},{"id":"0a648793b9cbbbf4","type":"ui_button","z":"200cf880.993108","name":"","group":"2e91c6de.e9a80a","order":0,"width":0,"height":0,"passthru":false,"label":"TASK1종료시키기","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"false","payloadType":"bool","topic":"topic","topicType":"msg","x":110,"y":200,"wires":[["19545b0fa5ae3f52"]]},{"id":"3f518f9237a10288","type":"modbus-read","z":"200cf880.993108","name":"","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"1","dataType":"Coil","adr":"0","quantity":"1","rate":"500","rateUnit":"ms","delayOnStart":false,"startDelayTime":"","server":"dea2537994e23bbf","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":130,"y":300,"wires":[[],["2b0b5ec2f6aa6afe"]]},{"id":"c27c568565d675eb","type":"ui_text","z":"200cf880.993108","group":"2e91c6de.e9a80a","order":2,"width":0,"height":0,"name":"","label":"램프상태","format":"{{msg.payload}}","layout":"row-spread","className":"","x":440,"y":300,"wires":[]},{"id":"2b0b5ec2f6aa6afe","type":"function","z":"200cf880.993108","name":"function 1","func":"var text = \"\";\nif(msg.payload.data[0]){\n  text = \"켜짐\";\n}else{\n  text = \"꺼짐\";\n}\nmsg.payload = text;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":280,"y":360,"wires":[["c27c568565d675eb"]]},{"id":"bb03e6553ca04b83","type":"modbus-read","z":"200cf880.993108","name":"","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"1","dataType":"HoldingRegister","adr":"0","quantity":"1","rate":"500","rateUnit":"ms","delayOnStart":false,"startDelayTime":"","server":"dea2537994e23bbf","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":130,"y":440,"wires":[[],["eee9f4e6086fa501"]]},{"id":"5c5b31af721eabe0","type":"ui_text","z":"200cf880.993108","group":"2e91c6de.e9a80a","order":2,"width":0,"height":0,"name":"","label":"현재카운터","format":"{{msg.payload.item1}}","layout":"row-spread","className":"","x":490,"y":420,"wires":[]},{"id":"eee9f4e6086fa501","type":"buffer-parser","z":"200cf880.993108","name":"","data":"payload.buffer","dataType":"msg","specification":"spec","specificationType":"ui","items":[{"type":"int16be","name":"item1","offset":0,"length":1,"offsetbit":0,"scale":"1","mask":""}],"swap1":"","swap2":"","swap3":"","swap1Type":"swap","swap2Type":"swap","swap3Type":"swap","msgProperty":"payload","msgPropertyType":"str","resultType":"keyvalue","resultTypeType":"return","multipleResult":false,"fanOutMultipleResult":false,"setTopic":true,"outputs":1,"x":310,"y":440,"wires":[["5c5b31af721eabe0"]]},{"id":"dea2537994e23bbf","type":"modbus-client","name":"","clienttype":"simpleser","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"failureLogEnabled":true,"tcpHost":"192.168.0.100","tcpPort":"60000","tcpType":"DEFAULT","serialPort":"COM6","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"2e91c6de.e9a80a","type":"ui_group","name":"Group 1","tab":"a8c3dc2a.d66a8","order":1,"disp":true,"width":8,"collapse":false,"className":""},{"id":"a8c3dc2a.d66a8","type":"ui_tab","name":"노드1번","icon":"dashboard","order":1,"disabled":false,"hidden":false}]
