slide15-3
[{"id":"84f29d60cb99c31d","type":"modbus-write","z":"200cf880.993108","name":"38번포트","showStatusActivities":false,"showErrors":false,"unitid":"1","dataType":"Coil","adr":"0","quantity":"1","server":"dea2537994e23bbf","emptyMsgOnFail":false,"keepMsgProperties":false,"x":340,"y":180,"wires":[["5e44d52fdbd7c5eb"],["5e44d52fdbd7c5eb"]]},{"id":"68857f2b501031a7","type":"inject","z":"200cf880.993108","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":130,"y":140,"wires":[["84f29d60cb99c31d"]]},{"id":"f7dc8f6ea0dd8d58","type":"inject","z":"200cf880.993108","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"false","payloadType":"bool","x":130,"y":180,"wires":[["84f29d60cb99c31d"]]},{"id":"5e44d52fdbd7c5eb","type":"debug","z":"200cf880.993108","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":560,"y":260,"wires":[]},{"id":"ab7250f2723d44a0","type":"modbus-write","z":"200cf880.993108","name":"39번포트","showStatusActivities":false,"showErrors":false,"unitid":"1","dataType":"Coil","adr":"1","quantity":"1","server":"dea2537994e23bbf","emptyMsgOnFail":false,"keepMsgProperties":false,"x":340,"y":240,"wires":[["5e44d52fdbd7c5eb"],["5e44d52fdbd7c5eb"]]},{"id":"ed856663c95c705d","type":"modbus-write","z":"200cf880.993108","name":"40번포트","showStatusActivities":false,"showErrors":false,"unitid":"1","dataType":"Coil","adr":"2","quantity":"1","server":"dea2537994e23bbf","emptyMsgOnFail":false,"keepMsgProperties":false,"x":340,"y":300,"wires":[["5e44d52fdbd7c5eb"],["5e44d52fdbd7c5eb"]]},{"id":"7a513ae261a1e763","type":"inject","z":"200cf880.993108","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":130,"y":220,"wires":[["ab7250f2723d44a0"]]},{"id":"edb2d08cf85dd1ad","type":"inject","z":"200cf880.993108","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"false","payloadType":"bool","x":130,"y":260,"wires":[["ab7250f2723d44a0"]]},{"id":"e5428abba0b687c4","type":"inject","z":"200cf880.993108","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":130,"y":300,"wires":[["ed856663c95c705d"]]},{"id":"e23c7e0cebb9b84e","type":"inject","z":"200cf880.993108","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"false","payloadType":"bool","x":130,"y":340,"wires":[["ed856663c95c705d"]]},{"id":"dea2537994e23bbf","type":"modbus-client","name":"","clienttype":"simpleser","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"failureLogEnabled":true,"tcpHost":"127.0.0.1","tcpPort":"60000","tcpType":"DEFAULT","serialPort":"COM6","serialType":"RTU-BUFFERD","serialBaudrate":"57600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true}]
