slide28-4
[{"id":"701d5661762f4c3d","type":"modbus-write","z":"200cf880.993108","name":"","showStatusActivities":false,"showErrors":false,"unitid":"1","dataType":"Coil","adr":"32","quantity":"1","server":"dea2537994e23bbf","emptyMsgOnFail":false,"keepMsgProperties":false,"x":540,"y":140,"wires":[[],[]]},{"id":"0a89f17c5b45030e","type":"modbus-write","z":"200cf880.993108","name":"","showStatusActivities":false,"showErrors":false,"unitid":"1","dataType":"Coil","adr":"33","quantity":"1","server":"dea2537994e23bbf","emptyMsgOnFail":false,"keepMsgProperties":false,"x":360,"y":240,"wires":[[],[]]},{"id":"a4bf6dfe425ba1e0","type":"modbus-write","z":"200cf880.993108","name":"","showStatusActivities":false,"showErrors":false,"unitid":"1","dataType":"HoldingRegister","adr":"0","quantity":"1","server":"dea2537994e23bbf","emptyMsgOnFail":false,"keepMsgProperties":false,"x":540,"y":100,"wires":[[],[]]},{"id":"2f0b03f43391813b","type":"modbus-read","z":"200cf880.993108","name":"","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"1","dataType":"Coil","adr":"0","quantity":"1","rate":"500","rateUnit":"ms","delayOnStart":false,"startDelayTime":"","server":"dea2537994e23bbf","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":170,"y":340,"wires":[[],["a028d5945af5a6bc"]]},{"id":"a028d5945af5a6bc","type":"ui_text","z":"200cf880.993108","group":"2e91c6de.e9a80a","order":1,"width":0,"height":0,"name":"","label":"펌프의 작동상태","format":"{{msg.payload.data[0]}}","layout":"row-spread","className":"","x":420,"y":340,"wires":[]},{"id":"f1dbfa62c844c1ba","type":"modbus-read","z":"200cf880.993108","name":"","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"1","dataType":"HoldingRegister","adr":"0","quantity":"7","rate":"500","rateUnit":"ms","delayOnStart":false,"startDelayTime":"","server":"dea2537994e23bbf","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":190,"y":420,"wires":[[],["4c618460607caefd"]]},{"id":"4c618460607caefd","type":"buffer-parser","z":"200cf880.993108","name":"","data":"payload.buffer","dataType":"msg","specification":"spec","specificationType":"ui","items":[{"type":"uint16le","name":"item1","offset":0,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"uint16le","name":"item2","offset":2,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"uint16le","name":"item3","offset":4,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"uint16le","name":"item4","offset":6,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"uint16le","name":"item5","offset":8,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"floatle","name":"item6","offset":10,"length":1,"offsetbit":0,"scale":"1","mask":""}],"swap1":"swap16","swap2":"","swap3":"","swap1Type":"swap","swap2Type":"swap","swap3Type":"swap","msgProperty":"payload","msgPropertyType":"str","resultType":"keyvalue","resultTypeType":"return","multipleResult":false,"fanOutMultipleResult":false,"setTopic":true,"outputs":1,"x":310,"y":520,"wires":[["69c3ca3ed5a59abb","2a2b39353ed71e97","64ebc268d2190831","3b06290c62d5b836","c2b79e13323d4106"]]},{"id":"69c3ca3ed5a59abb","type":"ui_text","z":"200cf880.993108","group":"2e91c6de.e9a80a","order":1,"width":0,"height":0,"name":"","label":"목표유량","format":"{{msg.payload.item1}}","layout":"row-spread","className":"","x":520,"y":380,"wires":[]},{"id":"2a2b39353ed71e97","type":"ui_text","z":"200cf880.993108","group":"2e91c6de.e9a80a","order":1,"width":0,"height":0,"name":"","label":"유속","format":"{{msg.payload.item2}}","layout":"row-spread","className":"","x":510,"y":420,"wires":[]},{"id":"64ebc268d2190831","type":"ui_text","z":"200cf880.993108","group":"2e91c6de.e9a80a","order":1,"width":0,"height":0,"name":"","label":"현재카운터","format":"{{msg.payload.item4}}","layout":"row-spread","className":"","x":530,"y":460,"wires":[]},{"id":"3b06290c62d5b836","type":"ui_text","z":"200cf880.993108","group":"2e91c6de.e9a80a","order":1,"width":0,"height":0,"name":"","label":"목표카운터","format":"{{msg.payload.item5}}","layout":"row-spread","className":"","x":530,"y":500,"wires":[]},{"id":"c2b79e13323d4106","type":"ui_text","z":"200cf880.993108","group":"2e91c6de.e9a80a","order":1,"width":0,"height":0,"name":"","label":"현재유량","format":"{{msg.payload.item6}}","layout":"row-spread","className":"","x":520,"y":540,"wires":[]},{"id":"99702eac4f36701c","type":"ui_button","z":"200cf880.993108","name":"","group":"2e91c6de.e9a80a","order":8,"width":0,"height":0,"passthru":false,"label":"작동종료","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"true","payloadType":"bool","topic":"topic","topicType":"msg","x":140,"y":240,"wires":[["0a89f17c5b45030e"]]},{"id":"227e0ab238d90616","type":"ui_form","z":"200cf880.993108","name":"","label":"내가 원하는 유량은?","group":"2e91c6de.e9a80a","order":8,"width":0,"height":0,"options":[{"label":"유량","value":"flow","type":"number","required":true,"rows":null}],"formValue":{"flow":""},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","className":"","x":100,"y":120,"wires":[["ae825ae6b1edeb5b","bbaf241acd655b3e"]]},{"id":"ae825ae6b1edeb5b","type":"change","z":"200cf880.993108","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.flow","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":100,"wires":[["a4bf6dfe425ba1e0"]]},{"id":"bbaf241acd655b3e","type":"change","z":"200cf880.993108","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":140,"wires":[["701d5661762f4c3d"]]},{"id":"dea2537994e23bbf","type":"modbus-client","name":"","clienttype":"simpleser","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"failureLogEnabled":true,"tcpHost":"192.168.0.100","tcpPort":"60000","tcpType":"DEFAULT","serialPort":"COM6","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"2e91c6de.e9a80a","type":"ui_group","name":"Group 1","tab":"a8c3dc2a.d66a8","order":1,"disp":true,"width":8,"collapse":false,"className":""},{"id":"a8c3dc2a.d66a8","type":"ui_tab","name":"노드1번","icon":"dashboard","order":1,"disabled":false,"hidden":false}]
