slide27-006
[{"id":"bc95e26f7ffc64fb","type":"modbus-read","z":"200cf880.993108","name":"","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"1","dataType":"HoldingRegister","adr":"0","quantity":"2","rate":"500","rateUnit":"ms","delayOnStart":false,"startDelayTime":"","server":"dea2537994e23bbf","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":150,"y":140,"wires":[[],["9d0e2958ee0badb9"]]},{"id":"9d0e2958ee0badb9","type":"buffer-parser","z":"200cf880.993108","name":"","data":"payload.buffer","dataType":"msg","specification":"spec","specificationType":"ui","items":[{"type":"floatle","name":"item1","offset":0,"length":1,"offsetbit":0,"scale":"1","mask":""}],"swap1":"swap16","swap2":"","swap3":"","swap1Type":"swap","swap2Type":"swap","swap3Type":"swap","msgProperty":"payload","msgPropertyType":"str","resultType":"keyvalue","resultTypeType":"return","multipleResult":false,"fanOutMultipleResult":false,"setTopic":true,"outputs":1,"x":330,"y":160,"wires":[["c7c236e2c08431e2"]]},{"id":"c7c236e2c08431e2","type":"function","z":"200cf880.993108","name":"function 1","func":"msg.payload.item1 = Math.floor(msg.payload.item1 * 100) /100;\nif (msg.payload.item1 < 0){\n    msg.payload.item1 = 0;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":240,"wires":[["2ab58d4b95fe19b3"]]},{"id":"2ab58d4b95fe19b3","type":"ui_text","z":"200cf880.993108","group":"2e91c6de.e9a80a","order":0,"width":0,"height":0,"name":"","label":"측정무게","format":"{{msg.payload.item1}} Kg","layout":"row-spread","className":"","x":540,"y":240,"wires":[]},{"id":"a5806d741fa0b5ff","type":"modbus-read","z":"200cf880.993108","name":"","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"1","dataType":"Coil","adr":"0","quantity":"3","rate":"500","rateUnit":"ms","delayOnStart":false,"startDelayTime":"","server":"dea2537994e23bbf","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":150,"y":300,"wires":[[],["93efeed187abde1b"]]},{"id":"93efeed187abde1b","type":"function","z":"200cf880.993108","name":"function 2","func":"var text = \"\";\nif (msg.payload.data[0]) {\n    text = \"소\";\n} else if (msg.payload.data[1]) {\n    text = \"중\";\n} else if (msg.payload.data[2]) {\n    text = \"대\";\n}else{\n    text = \"대기중\";\n}\nmsg.payload = text;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":320,"wires":[["3b0eeacb2eae5a38"]]},{"id":"3b0eeacb2eae5a38","type":"ui_text","z":"200cf880.993108","group":"2e91c6de.e9a80a","order":0,"width":0,"height":0,"name":"","label":"측정결과","format":"{{msg.payload}}","layout":"row-spread","className":"","x":540,"y":320,"wires":[]},{"id":"8a9bdf5d683d3e8c","type":"ui_button","z":"200cf880.993108","name":"","group":"2e91c6de.e9a80a","order":2,"width":0,"height":0,"passthru":false,"label":"0점조절하기!","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"true","payloadType":"bool","topic":"topic","topicType":"msg","x":150,"y":400,"wires":[["30cae4ae8160c952"]]},{"id":"30cae4ae8160c952","type":"modbus-write","z":"200cf880.993108","name":"","showStatusActivities":false,"showErrors":false,"unitid":"1","dataType":"Coil","adr":"32","quantity":"1","server":"dea2537994e23bbf","emptyMsgOnFail":false,"keepMsgProperties":false,"x":380,"y":400,"wires":[[],[]]},{"id":"dea2537994e23bbf","type":"modbus-client","name":"","clienttype":"simpleser","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"failureLogEnabled":true,"tcpHost":"192.168.0.100","tcpPort":"60000","tcpType":"DEFAULT","serialPort":"COM6","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"2e91c6de.e9a80a","type":"ui_group","name":"Group 1","tab":"a8c3dc2a.d66a8","order":1,"disp":true,"width":8,"collapse":false,"className":""},{"id":"a8c3dc2a.d66a8","type":"ui_tab","name":"노드1번","icon":"dashboard","order":1,"disabled":false,"hidden":false}]
