slide718
[{"id":"d3a0162dcf27a0ef","type":"modbus-write","z":"200cf880.993108","name":"","showStatusActivities":false,"showErrors":true,"unitid":"1","dataType":"Coil","adr":"0","quantity":"1","server":"dea2537994e23bbf","emptyMsgOnFail":false,"keepMsgProperties":false,"x":320,"y":220,"wires":[[],["ceba02da15b3ecad"]]},{"id":"ceba02da15b3ecad","type":"modbus-response","z":"200cf880.993108","name":"","registerShowMax":20,"x":530,"y":220,"wires":[]},{"id":"cda82d1b50ec75d9","type":"ui_button","z":"200cf880.993108","name":"","group":"2e91c6de.e9a80a","order":0,"width":"4","height":"1","passthru":false,"label":"코일0번ON","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"true","payloadType":"bool","topic":"topic","topicType":"msg","x":110,"y":180,"wires":[["d3a0162dcf27a0ef"]]},{"id":"0b79cc525e8bdb55","type":"ui_button","z":"200cf880.993108","name":"","group":"2e91c6de.e9a80a","order":0,"width":"4","height":"1","passthru":false,"label":"코일0번OFF","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"false","payloadType":"bool","topic":"topic","topicType":"msg","x":110,"y":220,"wires":[["d3a0162dcf27a0ef"]]},{"id":"a2e16a71f38f4cb5","type":"modbus-write","z":"200cf880.993108","name":"","showStatusActivities":false,"showErrors":true,"unitid":"1","dataType":"Coil","adr":"1","quantity":"1","server":"dea2537994e23bbf","emptyMsgOnFail":false,"keepMsgProperties":false,"x":320,"y":300,"wires":[[],[]]},{"id":"81fbbee26011d8d7","type":"modbus-write","z":"200cf880.993108","name":"","showStatusActivities":false,"showErrors":true,"unitid":"1","dataType":"Coil","adr":"2","quantity":"1","server":"dea2537994e23bbf","emptyMsgOnFail":false,"keepMsgProperties":false,"x":320,"y":380,"wires":[[],[]]},{"id":"b75292aef2ec8610","type":"modbus-write","z":"200cf880.993108","name":"","showStatusActivities":false,"showErrors":true,"unitid":"1","dataType":"Coil","adr":"3","quantity":"1","server":"dea2537994e23bbf","emptyMsgOnFail":false,"keepMsgProperties":false,"x":320,"y":460,"wires":[[],[]]},{"id":"6ec09e4f562c46a1","type":"modbus-write","z":"200cf880.993108","name":"","showStatusActivities":false,"showErrors":true,"unitid":"1","dataType":"Coil","adr":"4","quantity":"1","server":"dea2537994e23bbf","emptyMsgOnFail":false,"keepMsgProperties":false,"x":320,"y":540,"wires":[[],[]]},{"id":"99024cb194e5db6c","type":"modbus-write","z":"200cf880.993108","name":"","showStatusActivities":false,"showErrors":true,"unitid":"1","dataType":"Coil","adr":"5","quantity":"1","server":"dea2537994e23bbf","emptyMsgOnFail":false,"keepMsgProperties":false,"x":320,"y":620,"wires":[[],[]]},{"id":"01a39f7eb82d4a11","type":"modbus-write","z":"200cf880.993108","name":"","showStatusActivities":false,"showErrors":true,"unitid":"1","dataType":"Coil","adr":"6","quantity":"1","server":"dea2537994e23bbf","emptyMsgOnFail":false,"keepMsgProperties":false,"x":320,"y":700,"wires":[[],[]]},{"id":"a03059176f79072e","type":"modbus-write","z":"200cf880.993108","name":"","showStatusActivities":false,"showErrors":true,"unitid":"1","dataType":"Coil","adr":"7","quantity":"1","server":"dea2537994e23bbf","emptyMsgOnFail":false,"keepMsgProperties":false,"x":320,"y":780,"wires":[[],[]]},{"id":"48348c29acb6c3e4","type":"modbus-write","z":"200cf880.993108","name":"","showStatusActivities":false,"showErrors":true,"unitid":"1","dataType":"Coil","adr":"8","quantity":"1","server":"dea2537994e23bbf","emptyMsgOnFail":false,"keepMsgProperties":false,"x":320,"y":860,"wires":[[],[]]},{"id":"4e3b71b1bfd35031","type":"modbus-write","z":"200cf880.993108","name":"","showStatusActivities":false,"showErrors":true,"unitid":"1","dataType":"Coil","adr":"9","quantity":"1","server":"dea2537994e23bbf","emptyMsgOnFail":false,"keepMsgProperties":false,"x":320,"y":940,"wires":[[],[]]},{"id":"abac4d8441a9b701","type":"modbus-write","z":"200cf880.993108","name":"","showStatusActivities":false,"showErrors":true,"unitid":"1","dataType":"Coil","adr":"10","quantity":"1","server":"dea2537994e23bbf","emptyMsgOnFail":false,"keepMsgProperties":false,"x":320,"y":1020,"wires":[[],[]]},{"id":"5e6227b0a6bdf6f1","type":"modbus-write","z":"200cf880.993108","name":"","showStatusActivities":false,"showErrors":true,"unitid":"1","dataType":"Coil","adr":"11","quantity":"1","server":"dea2537994e23bbf","emptyMsgOnFail":false,"keepMsgProperties":false,"x":320,"y":1100,"wires":[[],[]]},{"id":"6c5eadd69632d371","type":"modbus-write","z":"200cf880.993108","name":"","showStatusActivities":false,"showErrors":true,"unitid":"1","dataType":"Coil","adr":"12","quantity":"1","server":"dea2537994e23bbf","emptyMsgOnFail":false,"keepMsgProperties":false,"x":320,"y":1180,"wires":[[],[]]},{"id":"3840b6c0d7d8ebd3","type":"modbus-write","z":"200cf880.993108","name":"","showStatusActivities":false,"showErrors":true,"unitid":"1","dataType":"Coil","adr":"13","quantity":"1","server":"dea2537994e23bbf","emptyMsgOnFail":false,"keepMsgProperties":false,"x":320,"y":1260,"wires":[[],[]]},{"id":"e140d98646cdf0be","type":"ui_button","z":"200cf880.993108","name":"","group":"2e91c6de.e9a80a","order":0,"width":"4","height":"1","passthru":false,"label":"코일1번ON","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"true","payloadType":"bool","topic":"topic","topicType":"msg","x":110,"y":280,"wires":[["a2e16a71f38f4cb5"]]},{"id":"de27836ddc2909f3","type":"ui_button","z":"200cf880.993108","name":"","group":"2e91c6de.e9a80a","order":0,"width":"4","height":"1","passthru":false,"label":"코일1번OFF","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"false","payloadType":"bool","topic":"topic","topicType":"msg","x":110,"y":320,"wires":[["a2e16a71f38f4cb5"]]},{"id":"3d5d41ea9ad2ab2d","type":"ui_button","z":"200cf880.993108","name":"","group":"2e91c6de.e9a80a","order":0,"width":"4","height":"1","passthru":false,"label":"코일2번ON","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"true","payloadType":"bool","topic":"topic","topicType":"msg","x":110,"y":360,"wires":[["81fbbee26011d8d7"]]},{"id":"cbda0d67b9666c75","type":"ui_button","z":"200cf880.993108","name":"","group":"2e91c6de.e9a80a","order":0,"width":"4","height":"1","passthru":false,"label":"코일2번OFF","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"false","payloadType":"bool","topic":"topic","topicType":"msg","x":110,"y":400,"wires":[["81fbbee26011d8d7"]]},{"id":"ef28332a600dfe2c","type":"ui_button","z":"200cf880.993108","name":"","group":"2e91c6de.e9a80a","order":0,"width":"4","height":"1","passthru":false,"label":"코일3번ON","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"true","payloadType":"bool","topic":"topic","topicType":"msg","x":110,"y":440,"wires":[["b75292aef2ec8610"]]},{"id":"25d76cb8c73c1552","type":"ui_button","z":"200cf880.993108","name":"","group":"2e91c6de.e9a80a","order":0,"width":"4","height":"1","passthru":false,"label":"코일3번OFF","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"false","payloadType":"bool","topic":"topic","topicType":"msg","x":110,"y":480,"wires":[["b75292aef2ec8610"]]},{"id":"3806e9a2d525be5c","type":"ui_button","z":"200cf880.993108","name":"","group":"2e91c6de.e9a80a","order":0,"width":"4","height":"1","passthru":false,"label":"코일4번ON","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"true","payloadType":"bool","topic":"topic","topicType":"msg","x":110,"y":520,"wires":[["6ec09e4f562c46a1"]]},{"id":"807af7a736f61512","type":"ui_button","z":"200cf880.993108","name":"","group":"2e91c6de.e9a80a","order":0,"width":"4","height":"1","passthru":false,"label":"코일4번OFF","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"false","payloadType":"bool","topic":"topic","topicType":"msg","x":110,"y":560,"wires":[["6ec09e4f562c46a1"]]},{"id":"b93b897c19cac49f","type":"ui_button","z":"200cf880.993108","name":"","group":"2e91c6de.e9a80a","order":0,"width":"4","height":"1","passthru":false,"label":"코일5번ON","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"true","payloadType":"bool","topic":"topic","topicType":"msg","x":110,"y":600,"wires":[["99024cb194e5db6c"]]},{"id":"d2c3029ec01291c0","type":"ui_button","z":"200cf880.993108","name":"","group":"2e91c6de.e9a80a","order":0,"width":"4","height":"1","passthru":false,"label":"코일5번OFF","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"false","payloadType":"bool","topic":"topic","topicType":"msg","x":110,"y":640,"wires":[["99024cb194e5db6c"]]},{"id":"c36cdf8d9dcf3928","type":"ui_button","z":"200cf880.993108","name":"","group":"2e91c6de.e9a80a","order":0,"width":"4","height":"1","passthru":false,"label":"코일6번ON","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"true","payloadType":"bool","topic":"topic","topicType":"msg","x":110,"y":680,"wires":[["01a39f7eb82d4a11"]]},{"id":"dffa27f6e612865c","type":"ui_button","z":"200cf880.993108","name":"","group":"2e91c6de.e9a80a","order":0,"width":"4","height":"1","passthru":false,"label":"코일6번OFF","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"false","payloadType":"bool","topic":"topic","topicType":"msg","x":110,"y":720,"wires":[["01a39f7eb82d4a11"]]},{"id":"2893abb21b1f9a48","type":"ui_button","z":"200cf880.993108","name":"","group":"2e91c6de.e9a80a","order":0,"width":"4","height":"1","passthru":false,"label":"코일7번ON","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"true","payloadType":"bool","topic":"topic","topicType":"msg","x":110,"y":760,"wires":[["a03059176f79072e"]]},{"id":"1f04be8791745eef","type":"ui_button","z":"200cf880.993108","name":"","group":"2e91c6de.e9a80a","order":0,"width":"4","height":"1","passthru":false,"label":"코일7번OFF","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"false","payloadType":"bool","topic":"topic","topicType":"msg","x":110,"y":800,"wires":[["a03059176f79072e"]]},{"id":"b9f0ec81d8ebb090","type":"ui_button","z":"200cf880.993108","name":"","group":"2e91c6de.e9a80a","order":0,"width":"4","height":"1","passthru":false,"label":"코일8번ON","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"true","payloadType":"bool","topic":"topic","topicType":"msg","x":110,"y":840,"wires":[["48348c29acb6c3e4"]]},{"id":"8cc0bce4c1ad8af6","type":"ui_button","z":"200cf880.993108","name":"","group":"2e91c6de.e9a80a","order":0,"width":"4","height":"1","passthru":false,"label":"코일8번OFF","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"false","payloadType":"bool","topic":"topic","topicType":"msg","x":110,"y":880,"wires":[["48348c29acb6c3e4"]]},{"id":"098613c55cdede0e","type":"ui_button","z":"200cf880.993108","name":"","group":"2e91c6de.e9a80a","order":0,"width":"4","height":"1","passthru":false,"label":"코일9번ON","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"true","payloadType":"bool","topic":"topic","topicType":"msg","x":110,"y":920,"wires":[["4e3b71b1bfd35031"]]},{"id":"a3a851126a0bf0fc","type":"ui_button","z":"200cf880.993108","name":"","group":"2e91c6de.e9a80a","order":0,"width":"4","height":"1","passthru":false,"label":"코일9번OFF","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"false","payloadType":"bool","topic":"topic","topicType":"msg","x":110,"y":960,"wires":[["4e3b71b1bfd35031"]]},{"id":"ac1b2d45932cba67","type":"ui_button","z":"200cf880.993108","name":"","group":"2e91c6de.e9a80a","order":0,"width":"4","height":"1","passthru":false,"label":"코일10번ON","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"true","payloadType":"bool","topic":"topic","topicType":"msg","x":110,"y":1000,"wires":[["abac4d8441a9b701"]]},{"id":"53aec94c0c170337","type":"ui_button","z":"200cf880.993108","name":"","group":"2e91c6de.e9a80a","order":0,"width":"4","height":"1","passthru":false,"label":"코일10번OFF","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"false","payloadType":"bool","topic":"topic","topicType":"msg","x":120,"y":1040,"wires":[["abac4d8441a9b701"]]},{"id":"82f78676ace58b8f","type":"ui_button","z":"200cf880.993108","name":"","group":"2e91c6de.e9a80a","order":0,"width":"4","height":"1","passthru":false,"label":"코일11번ON","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"true","payloadType":"bool","topic":"topic","topicType":"msg","x":110,"y":1080,"wires":[["5e6227b0a6bdf6f1"]]},{"id":"d58048546ef645ae","type":"ui_button","z":"200cf880.993108","name":"","group":"2e91c6de.e9a80a","order":0,"width":"4","height":"1","passthru":false,"label":"코일11번OFF","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"false","payloadType":"bool","topic":"topic","topicType":"msg","x":120,"y":1120,"wires":[["5e6227b0a6bdf6f1"]]},{"id":"f4b2499ac9514814","type":"ui_button","z":"200cf880.993108","name":"","group":"2e91c6de.e9a80a","order":0,"width":"4","height":"1","passthru":false,"label":"코일12번ON","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"true","payloadType":"bool","topic":"topic","topicType":"msg","x":110,"y":1160,"wires":[["6c5eadd69632d371"]]},{"id":"fbc1ff9b21ee95df","type":"ui_button","z":"200cf880.993108","name":"","group":"2e91c6de.e9a80a","order":0,"width":"4","height":"1","passthru":false,"label":"코일12번OFF","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"false","payloadType":"bool","topic":"topic","topicType":"msg","x":120,"y":1200,"wires":[["6c5eadd69632d371"]]},{"id":"be36f7d68299b052","type":"ui_button","z":"200cf880.993108","name":"","group":"2e91c6de.e9a80a","order":0,"width":"4","height":"1","passthru":false,"label":"코일13번ON","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"true","payloadType":"bool","topic":"topic","topicType":"msg","x":110,"y":1240,"wires":[["3840b6c0d7d8ebd3"]]},{"id":"a2c858971c0ec9ab","type":"ui_button","z":"200cf880.993108","name":"","group":"2e91c6de.e9a80a","order":0,"width":"4","height":"1","passthru":false,"label":"코일13번OFF","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"false","payloadType":"bool","topic":"topic","topicType":"msg","x":120,"y":1280,"wires":[["3840b6c0d7d8ebd3"]]},{"id":"901deaaaa0f775bb","type":"modbus-write","z":"200cf880.993108","name":"","showStatusActivities":false,"showErrors":true,"unitid":"1","dataType":"MCoils","adr":"0","quantity":"14","server":"dea2537994e23bbf","emptyMsgOnFail":false,"keepMsgProperties":false,"x":460,"y":1340,"wires":[[],[]]},{"id":"796cd45eae34d716","type":"ui_button","z":"200cf880.993108","name":"","group":"2e91c6de.e9a80a","order":0,"width":"4","height":"1","passthru":false,"label":"전체ON","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"true","payloadType":"bool","topic":"topic","topicType":"msg","x":100,"y":1320,"wires":[["02083883065fc322"]]},{"id":"2f53344c0f48425e","type":"ui_button","z":"200cf880.993108","name":"","group":"2e91c6de.e9a80a","order":0,"width":"4","height":"1","passthru":false,"label":"전체OFF","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"false","payloadType":"bool","topic":"topic","topicType":"msg","x":100,"y":1360,"wires":[["e1e304c3e384d5ce"]]},{"id":"02083883065fc322","type":"function","z":"200cf880.993108","name":"function 1","func":"msg.payload = [true, true, true, true, true, true, true, true, true, true, true, true, true, true];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":1320,"wires":[["901deaaaa0f775bb"]]},{"id":"e1e304c3e384d5ce","type":"function","z":"200cf880.993108","name":"function 2","func":"msg.payload = [false, false, false, false, false, false, false, false, false, false, false, false, false, false];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":1360,"wires":[["901deaaaa0f775bb"]]},{"id":"dc8dbc820d4c8afa","type":"ui_text","z":"200cf880.993108","group":"37b8047e.89c1ec","order":30,"width":0,"height":0,"name":"","label":"레지스터0번","format":"{{msg.payload.item1}}","layout":"row-spread","className":"","x":430,"y":1420,"wires":[]},{"id":"67df273b1a5818cd","type":"modbus-read","z":"200cf880.993108","d":true,"name":"","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"1","dataType":"HoldingRegister","adr":"0","quantity":"2","rate":"1","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"dea2537994e23bbf","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":110,"y":1440,"wires":[[],["814578ecc91782d2"]]},{"id":"8c5fca9d6ba902d2","type":"ui_text","z":"200cf880.993108","group":"37b8047e.89c1ec","order":0,"width":0,"height":0,"name":"","label":"레지스터1번","format":"{{msg.payload.item2}}","layout":"row-spread","className":"","x":430,"y":1460,"wires":[]},{"id":"814578ecc91782d2","type":"buffer-parser","z":"200cf880.993108","name":"","data":"payload.buffer","dataType":"msg","specification":"spec","specificationType":"ui","items":[{"type":"uint16be","name":"item1","offset":0,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"int16be","name":"item2","offset":2,"length":1,"offsetbit":0,"scale":"1","mask":""}],"swap1":"","swap2":"","swap3":"","swap1Type":"swap","swap2Type":"swap","swap3Type":"swap","msgProperty":"payload","msgPropertyType":"str","resultType":"keyvalue","resultTypeType":"return","multipleResult":false,"fanOutMultipleResult":false,"setTopic":true,"outputs":1,"x":270,"y":1440,"wires":[["dc8dbc820d4c8afa","8c5fca9d6ba902d2"]]},{"id":"dea2537994e23bbf","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"failureLogEnabled":true,"tcpHost":"192.168.0.32","tcpPort":"60000","tcpType":"DEFAULT","serialPort":"COM7","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"2e91c6de.e9a80a","type":"ui_group","name":"Group 1","tab":"a8c3dc2a.d66a8","order":1,"disp":true,"width":8,"collapse":false,"className":""},{"id":"37b8047e.89c1ec","type":"ui_group","name":"Group 2","tab":"a8c3dc2a.d66a8","order":2,"disp":true,"width":8},{"id":"a8c3dc2a.d66a8","type":"ui_tab","name":"노드1번","icon":"dashboard","order":1,"disabled":false,"hidden":false}]
