slide708
[{"id":"d3a0162dcf27a0ef","type":"modbus-write","z":"200cf880.993108","name":"","showStatusActivities":false,"showErrors":true,"unitid":"1","dataType":"Coil","adr":"0","quantity":"1","server":"dea2537994e23bbf","emptyMsgOnFail":false,"keepMsgProperties":false,"x":300,"y":180,"wires":[[],["ceba02da15b3ecad"]]},{"id":"ceba02da15b3ecad","type":"modbus-response","z":"200cf880.993108","name":"","registerShowMax":20,"x":530,"y":220,"wires":[]},{"id":"cda82d1b50ec75d9","type":"ui_button","z":"200cf880.993108","name":"","group":"2e91c6de.e9a80a","order":0,"width":0,"height":0,"passthru":false,"label":"코일0번ON","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"true","payloadType":"bool","topic":"topic","topicType":"msg","x":110,"y":160,"wires":[["d3a0162dcf27a0ef"]]},{"id":"0b79cc525e8bdb55","type":"ui_button","z":"200cf880.993108","name":"","group":"2e91c6de.e9a80a","order":0,"width":0,"height":0,"passthru":false,"label":"코일0번OFF","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"false","payloadType":"bool","topic":"topic","topicType":"msg","x":110,"y":200,"wires":[["d3a0162dcf27a0ef"]]},{"id":"b7297cc8b79a4007","type":"modbus-read","z":"200cf880.993108","name":"","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"1","dataType":"HoldingRegister","adr":"0","quantity":"2","rate":"1","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"dea2537994e23bbf","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":150,"y":300,"wires":[[],["9515c1f94f62ed7d"]]},{"id":"6e884e2758bf962d","type":"debug","z":"200cf880.993108","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":500,"y":340,"wires":[]},{"id":"9515c1f94f62ed7d","type":"buffer-parser","z":"200cf880.993108","name":"","data":"payload.buffer","dataType":"msg","specification":"spec","specificationType":"ui","items":[{"type":"uint16be","name":"item1","offset":0,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"int16be","name":"item2","offset":2,"length":1,"offsetbit":0,"scale":"1","mask":""}],"swap1":"","swap2":"","swap3":"","swap1Type":"swap","swap2Type":"swap","swap3Type":"swap","msgProperty":"payload","msgPropertyType":"str","resultType":"keyvalue","resultTypeType":"return","multipleResult":false,"fanOutMultipleResult":false,"setTopic":true,"outputs":1,"x":330,"y":320,"wires":[["6e884e2758bf962d"]]},{"id":"3399f12a9f12f42c","type":"inject","z":"200cf880.993108","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"123","payloadType":"num","x":130,"y":400,"wires":[["89cc2118afeb02ef"]]},{"id":"9cc614dfdf36ec73","type":"inject","z":"200cf880.993108","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"456","payloadType":"num","x":130,"y":440,"wires":[["89cc2118afeb02ef"]]},{"id":"89cc2118afeb02ef","type":"modbus-write","z":"200cf880.993108","name":"","showStatusActivities":false,"showErrors":true,"unitid":"1","dataType":"HoldingRegister","adr":"0","quantity":"1","server":"dea2537994e23bbf","emptyMsgOnFail":false,"keepMsgProperties":false,"x":320,"y":420,"wires":[[],[]]},{"id":"dea2537994e23bbf","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"failureLogEnabled":true,"tcpHost":"192.168.0.32","tcpPort":"60000","tcpType":"DEFAULT","serialPort":"COM7","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"2e91c6de.e9a80a","type":"ui_group","name":"Group 1","tab":"a8c3dc2a.d66a8","order":1,"disp":true,"width":8,"collapse":false,"className":""},{"id":"a8c3dc2a.d66a8","type":"ui_tab","name":"노드1번","icon":"dashboard","order":1,"disabled":false,"hidden":false}]
