slide23-8
[{"id":"e67a444135d3f065","type":"modbus-read","z":"200cf880.993108","name":"","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"1","dataType":"HoldingRegister","adr":"1","quantity":"2","rate":"1","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"dea2537994e23bbf","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":110,"y":120,"wires":[[],["1ac898a30bfe7c30"]]},{"id":"1ac898a30bfe7c30","type":"buffer-parser","z":"200cf880.993108","name":"","data":"payload.buffer","dataType":"msg","specification":"spec","specificationType":"ui","items":[{"type":"uint16be","name":"item1","offset":0,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"uint16be","name":"item2","offset":2,"length":1,"offsetbit":0,"scale":"1","mask":""}],"swap1":"","swap2":"","swap3":"","swap1Type":"swap","swap2Type":"swap","swap3Type":"swap","msgProperty":"payload","msgPropertyType":"str","resultType":"keyvalue","resultTypeType":"return","multipleResult":false,"fanOutMultipleResult":false,"setTopic":true,"outputs":1,"x":290,"y":120,"wires":[["dbf6a9631cf8bafd","5d2a6dd21f013239"]]},{"id":"dbf6a9631cf8bafd","type":"ui_text","z":"200cf880.993108","group":"2e91c6de.e9a80a","order":1,"width":0,"height":0,"name":"","label":"녹색켜짐시간","format":"{{msg.payload.item1}}","layout":"row-spread","className":"","x":500,"y":80,"wires":[]},{"id":"5d2a6dd21f013239","type":"ui_text","z":"200cf880.993108","group":"2e91c6de.e9a80a","order":2,"width":0,"height":0,"name":"","label":"적색켜짐시간","format":"{{msg.payload.item2}}","layout":"row-spread","className":"","x":500,"y":140,"wires":[]},{"id":"a8e44b72ddf996c7","type":"ui_form","z":"200cf880.993108","name":"","label":"","group":"2e91c6de.e9a80a","order":3,"width":0,"height":0,"options":[{"label":"녹색켜짐시간","value":"green","type":"number","required":true,"rows":null}],"formValue":{"green":""},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","className":"","x":110,"y":240,"wires":[["88ebe9ebadad8498"]]},{"id":"d2cb5f271da12580","type":"modbus-write","z":"200cf880.993108","name":"","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"1","quantity":"1","server":"dea2537994e23bbf","emptyMsgOnFail":false,"keepMsgProperties":false,"x":320,"y":240,"wires":[[],[]]},{"id":"88ebe9ebadad8498","type":"change","z":"200cf880.993108","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.green","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":220,"y":300,"wires":[["d2cb5f271da12580"]]},{"id":"f3d25b082564e3b5","type":"ui_form","z":"200cf880.993108","name":"","label":"","group":"2e91c6de.e9a80a","order":4,"width":0,"height":0,"options":[{"label":"적색켜짐시간","value":"red","type":"number","required":true,"rows":null}],"formValue":{"red":""},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","className":"","x":110,"y":360,"wires":[["999e2755aa8f3d58"]]},{"id":"999e2755aa8f3d58","type":"change","z":"200cf880.993108","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.red","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":220,"y":400,"wires":[["14f760fc240c4079"]]},{"id":"14f760fc240c4079","type":"modbus-write","z":"200cf880.993108","name":"","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"2","quantity":"1","server":"dea2537994e23bbf","emptyMsgOnFail":false,"keepMsgProperties":false,"x":320,"y":360,"wires":[[],[]]},{"id":"dea2537994e23bbf","type":"modbus-client","name":"","clienttype":"simpleser","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"failureLogEnabled":true,"tcpHost":"192.168.0.100","tcpPort":"60000","tcpType":"DEFAULT","serialPort":"COM6","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"2e91c6de.e9a80a","type":"ui_group","name":"Group 1","tab":"a8c3dc2a.d66a8","order":1,"disp":true,"width":8,"collapse":false,"className":""},{"id":"a8c3dc2a.d66a8","type":"ui_tab","name":"노드1번","icon":"dashboard","order":1,"disabled":false,"hidden":false}]
