slide22-3
[{"id":"3f048d998ea9b03d","type":"ui_button","z":"200cf880.993108","name":"","group":"2e91c6de.e9a80a","order":0,"width":"4","height":"1","passthru":false,"label":"38 ON","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"true","payloadType":"bool","topic":"topic","topicType":"msg","x":110,"y":40,"wires":[["869f8485c40856eb"]]},{"id":"ca8030291e2515fc","type":"ui_button","z":"200cf880.993108","name":"","group":"2e91c6de.e9a80a","order":0,"width":"4","height":"1","passthru":false,"label":"38 OFF","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"false","payloadType":"bool","topic":"topic","topicType":"msg","x":120,"y":80,"wires":[["869f8485c40856eb"]]},{"id":"869f8485c40856eb","type":"modbus-write","z":"200cf880.993108","name":"","showStatusActivities":false,"showErrors":false,"unitid":"1","dataType":"Coil","adr":"0","quantity":"1","server":"dea2537994e23bbf","emptyMsgOnFail":false,"keepMsgProperties":false,"x":340,"y":60,"wires":[[],[]]},{"id":"459b891847422976","type":"ui_button","z":"200cf880.993108","name":"","group":"2e91c6de.e9a80a","order":0,"width":"4","height":"1","passthru":false,"label":"39 ON","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"true","payloadType":"bool","topic":"topic","topicType":"msg","x":110,"y":120,"wires":[["b94b15ba9ad60a7f"]]},{"id":"3f02d38229d16dd9","type":"ui_button","z":"200cf880.993108","name":"","group":"2e91c6de.e9a80a","order":0,"width":"4","height":"1","passthru":false,"label":"39 OFF","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"false","payloadType":"bool","topic":"topic","topicType":"msg","x":120,"y":160,"wires":[["b94b15ba9ad60a7f"]]},{"id":"b94b15ba9ad60a7f","type":"modbus-write","z":"200cf880.993108","name":"","showStatusActivities":false,"showErrors":false,"unitid":"1","dataType":"Coil","adr":"1","quantity":"1","server":"dea2537994e23bbf","emptyMsgOnFail":false,"keepMsgProperties":false,"x":340,"y":140,"wires":[[],[]]},{"id":"5f7d3c373cb6c729","type":"ui_button","z":"200cf880.993108","name":"","group":"2e91c6de.e9a80a","order":0,"width":"4","height":"1","passthru":false,"label":"40 ON","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"true","payloadType":"bool","topic":"topic","topicType":"msg","x":110,"y":200,"wires":[["2d10afae6ff2eabe"]]},{"id":"46df06e36dbb6a89","type":"ui_button","z":"200cf880.993108","name":"","group":"2e91c6de.e9a80a","order":0,"width":"4","height":"1","passthru":false,"label":"40 OFF","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"false","payloadType":"bool","topic":"topic","topicType":"msg","x":120,"y":240,"wires":[["2d10afae6ff2eabe"]]},{"id":"2d10afae6ff2eabe","type":"modbus-write","z":"200cf880.993108","name":"","showStatusActivities":false,"showErrors":false,"unitid":"1","dataType":"Coil","adr":"2","quantity":"1","server":"dea2537994e23bbf","emptyMsgOnFail":false,"keepMsgProperties":false,"x":340,"y":220,"wires":[[],[]]},{"id":"324203fc9f5d503f","type":"ui_button","z":"200cf880.993108","name":"","group":"2e91c6de.e9a80a","order":0,"width":"4","height":"1","passthru":false,"label":"41 ON","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"true","payloadType":"bool","topic":"topic","topicType":"msg","x":110,"y":280,"wires":[["f39a03a0e8ae17a3"]]},{"id":"10c439c97020745e","type":"ui_button","z":"200cf880.993108","name":"","group":"2e91c6de.e9a80a","order":0,"width":"4","height":"1","passthru":false,"label":"41 OFF","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"false","payloadType":"bool","topic":"topic","topicType":"msg","x":120,"y":320,"wires":[["f39a03a0e8ae17a3"]]},{"id":"f39a03a0e8ae17a3","type":"modbus-write","z":"200cf880.993108","name":"","showStatusActivities":false,"showErrors":false,"unitid":"1","dataType":"Coil","adr":"3","quantity":"1","server":"dea2537994e23bbf","emptyMsgOnFail":false,"keepMsgProperties":false,"x":340,"y":300,"wires":[[],[]]},{"id":"6dc5b4343a2f6483","type":"ui_button","z":"200cf880.993108","name":"","group":"2e91c6de.e9a80a","order":0,"width":"4","height":"1","passthru":false,"label":"42 ON","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"true","payloadType":"bool","topic":"topic","topicType":"msg","x":110,"y":360,"wires":[["83254f72fdff9d89"]]},{"id":"3a903d7217827316","type":"ui_button","z":"200cf880.993108","name":"","group":"2e91c6de.e9a80a","order":0,"width":"4","height":"1","passthru":false,"label":"42 OFF","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"false","payloadType":"bool","topic":"topic","topicType":"msg","x":120,"y":400,"wires":[["83254f72fdff9d89"]]},{"id":"83254f72fdff9d89","type":"modbus-write","z":"200cf880.993108","name":"","showStatusActivities":false,"showErrors":false,"unitid":"1","dataType":"Coil","adr":"4","quantity":"1","server":"dea2537994e23bbf","emptyMsgOnFail":false,"keepMsgProperties":false,"x":340,"y":380,"wires":[[],[]]},{"id":"ce36601f4a3eac2a","type":"ui_button","z":"200cf880.993108","name":"","group":"2e91c6de.e9a80a","order":0,"width":"4","height":"1","passthru":false,"label":"43 ON","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"true","payloadType":"bool","topic":"topic","topicType":"msg","x":110,"y":440,"wires":[["4675e88e52df3d58"]]},{"id":"6ad1a253b99874f5","type":"ui_button","z":"200cf880.993108","name":"","group":"2e91c6de.e9a80a","order":0,"width":"4","height":"1","passthru":false,"label":"43 OFF","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"false","payloadType":"bool","topic":"topic","topicType":"msg","x":120,"y":480,"wires":[["4675e88e52df3d58"]]},{"id":"4675e88e52df3d58","type":"modbus-write","z":"200cf880.993108","name":"","showStatusActivities":false,"showErrors":false,"unitid":"1","dataType":"Coil","adr":"5","quantity":"1","server":"dea2537994e23bbf","emptyMsgOnFail":false,"keepMsgProperties":false,"x":340,"y":460,"wires":[[],[]]},{"id":"3789b7e7c235f0dc","type":"ui_button","z":"200cf880.993108","name":"","group":"2e91c6de.e9a80a","order":0,"width":"4","height":"1","passthru":false,"label":"44 ON","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"true","payloadType":"bool","topic":"topic","topicType":"msg","x":110,"y":520,"wires":[["e8935ba171347b67"]]},{"id":"ab024876f4745fa4","type":"ui_button","z":"200cf880.993108","name":"","group":"2e91c6de.e9a80a","order":0,"width":"4","height":"1","passthru":false,"label":"44 OFF","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"false","payloadType":"bool","topic":"topic","topicType":"msg","x":120,"y":560,"wires":[["e8935ba171347b67"]]},{"id":"e8935ba171347b67","type":"modbus-write","z":"200cf880.993108","name":"","showStatusActivities":false,"showErrors":false,"unitid":"1","dataType":"Coil","adr":"6","quantity":"1","server":"dea2537994e23bbf","emptyMsgOnFail":false,"keepMsgProperties":false,"x":340,"y":540,"wires":[[],[]]},{"id":"81a283e98847f35b","type":"ui_button","z":"200cf880.993108","name":"","group":"2e91c6de.e9a80a","order":0,"width":"4","height":"1","passthru":false,"label":"45 ON","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"true","payloadType":"bool","topic":"topic","topicType":"msg","x":110,"y":600,"wires":[["a0c5d5ab13dcda97"]]},{"id":"32cb0e5756c5fd93","type":"ui_button","z":"200cf880.993108","name":"","group":"2e91c6de.e9a80a","order":0,"width":"4","height":"1","passthru":false,"label":"45 OFF","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"false","payloadType":"bool","topic":"topic","topicType":"msg","x":120,"y":640,"wires":[["a0c5d5ab13dcda97"]]},{"id":"a0c5d5ab13dcda97","type":"modbus-write","z":"200cf880.993108","name":"","showStatusActivities":false,"showErrors":false,"unitid":"1","dataType":"Coil","adr":"7","quantity":"1","server":"dea2537994e23bbf","emptyMsgOnFail":false,"keepMsgProperties":false,"x":340,"y":620,"wires":[[],[]]},{"id":"1c67205bfa4b379b","type":"ui_button","z":"200cf880.993108","name":"","group":"2e91c6de.e9a80a","order":0,"width":"4","height":"1","passthru":false,"label":"46 ON","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"true","payloadType":"bool","topic":"topic","topicType":"msg","x":110,"y":680,"wires":[["5779bdcdc4310c5b"]]},{"id":"a11357503ea6baa3","type":"ui_button","z":"200cf880.993108","name":"","group":"2e91c6de.e9a80a","order":0,"width":"4","height":"1","passthru":false,"label":"46 OFF","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"false","payloadType":"bool","topic":"topic","topicType":"msg","x":120,"y":720,"wires":[["5779bdcdc4310c5b"]]},{"id":"5779bdcdc4310c5b","type":"modbus-write","z":"200cf880.993108","name":"","showStatusActivities":false,"showErrors":false,"unitid":"1","dataType":"Coil","adr":"8","quantity":"1","server":"dea2537994e23bbf","emptyMsgOnFail":false,"keepMsgProperties":false,"x":340,"y":700,"wires":[[],[]]},{"id":"d491ffa5cf186174","type":"ui_button","z":"200cf880.993108","name":"","group":"2e91c6de.e9a80a","order":0,"width":"4","height":"1","passthru":false,"label":"47 ON","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"true","payloadType":"bool","topic":"topic","topicType":"msg","x":110,"y":760,"wires":[["ccf0e71a08b5550b"]]},{"id":"07297dd3371344e4","type":"ui_button","z":"200cf880.993108","name":"","group":"2e91c6de.e9a80a","order":0,"width":"4","height":"1","passthru":false,"label":"47 OFF","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"false","payloadType":"bool","topic":"topic","topicType":"msg","x":120,"y":800,"wires":[["ccf0e71a08b5550b"]]},{"id":"ccf0e71a08b5550b","type":"modbus-write","z":"200cf880.993108","name":"","showStatusActivities":false,"showErrors":false,"unitid":"1","dataType":"Coil","adr":"9","quantity":"1","server":"dea2537994e23bbf","emptyMsgOnFail":false,"keepMsgProperties":false,"x":340,"y":780,"wires":[[],[]]},{"id":"944bf1a81fcb4c33","type":"ui_button","z":"200cf880.993108","name":"","group":"2e91c6de.e9a80a","order":0,"width":"4","height":"1","passthru":false,"label":"48 ON","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"true","payloadType":"bool","topic":"topic","topicType":"msg","x":110,"y":840,"wires":[["5714e5714b9d2a4d"]]},{"id":"bcf0994cebe9953f","type":"ui_button","z":"200cf880.993108","name":"","group":"2e91c6de.e9a80a","order":0,"width":"4","height":"1","passthru":false,"label":"48 OFF","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"false","payloadType":"bool","topic":"topic","topicType":"msg","x":120,"y":880,"wires":[["5714e5714b9d2a4d"]]},{"id":"5714e5714b9d2a4d","type":"modbus-write","z":"200cf880.993108","name":"","showStatusActivities":false,"showErrors":false,"unitid":"1","dataType":"Coil","adr":"10","quantity":"1","server":"dea2537994e23bbf","emptyMsgOnFail":false,"keepMsgProperties":false,"x":340,"y":860,"wires":[[],[]]},{"id":"f5930a5e6bd71dd0","type":"ui_button","z":"200cf880.993108","name":"","group":"2e91c6de.e9a80a","order":0,"width":"4","height":"1","passthru":false,"label":"49 ON","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"true","payloadType":"bool","topic":"topic","topicType":"msg","x":110,"y":920,"wires":[["0a892a47fe881907"]]},{"id":"45b4cba8542e74c5","type":"ui_button","z":"200cf880.993108","name":"","group":"2e91c6de.e9a80a","order":0,"width":"4","height":"1","passthru":false,"label":"49 OFF","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"false","payloadType":"bool","topic":"topic","topicType":"msg","x":120,"y":960,"wires":[["0a892a47fe881907"]]},{"id":"0a892a47fe881907","type":"modbus-write","z":"200cf880.993108","name":"","showStatusActivities":false,"showErrors":false,"unitid":"1","dataType":"Coil","adr":"11","quantity":"1","server":"dea2537994e23bbf","emptyMsgOnFail":false,"keepMsgProperties":false,"x":340,"y":940,"wires":[[],[]]},{"id":"2bf199fe34675b07","type":"ui_button","z":"200cf880.993108","name":"","group":"2e91c6de.e9a80a","order":0,"width":"4","height":"1","passthru":false,"label":"50 ON","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"true","payloadType":"bool","topic":"topic","topicType":"msg","x":110,"y":1000,"wires":[["9deea0ff2d96bc80"]]},{"id":"340343a3b654c294","type":"ui_button","z":"200cf880.993108","name":"","group":"2e91c6de.e9a80a","order":0,"width":"4","height":"1","passthru":false,"label":"50 OFF","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"false","payloadType":"bool","topic":"topic","topicType":"msg","x":120,"y":1040,"wires":[["9deea0ff2d96bc80"]]},{"id":"9deea0ff2d96bc80","type":"modbus-write","z":"200cf880.993108","name":"","showStatusActivities":false,"showErrors":false,"unitid":"1","dataType":"Coil","adr":"12","quantity":"1","server":"dea2537994e23bbf","emptyMsgOnFail":false,"keepMsgProperties":false,"x":340,"y":1020,"wires":[[],[]]},{"id":"68634b6575882e8c","type":"ui_button","z":"200cf880.993108","name":"","group":"2e91c6de.e9a80a","order":0,"width":"4","height":"1","passthru":false,"label":"51 ON","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"true","payloadType":"bool","topic":"topic","topicType":"msg","x":110,"y":1080,"wires":[["4745caf6849687fa"]]},{"id":"521f9a953fad8fd6","type":"ui_button","z":"200cf880.993108","name":"","group":"2e91c6de.e9a80a","order":0,"width":"4","height":"1","passthru":false,"label":"51 OFF","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"false","payloadType":"bool","topic":"topic","topicType":"msg","x":120,"y":1120,"wires":[["4745caf6849687fa"]]},{"id":"4745caf6849687fa","type":"modbus-write","z":"200cf880.993108","name":"","showStatusActivities":false,"showErrors":false,"unitid":"1","dataType":"Coil","adr":"13","quantity":"1","server":"dea2537994e23bbf","emptyMsgOnFail":false,"keepMsgProperties":false,"x":340,"y":1100,"wires":[[],[]]},{"id":"5fac2beb03b53aa4","type":"ui_button","z":"200cf880.993108","name":"","group":"2e91c6de.e9a80a","order":0,"width":"4","height":"1","passthru":false,"label":"ALL OFF","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"[0,0,0,0,0,0,0,0,0,0,0,0,0,0]","payloadType":"bin","topic":"topic","topicType":"msg","x":120,"y":1200,"wires":[["7c9a20ed7749573d"]]},{"id":"7c9a20ed7749573d","type":"modbus-write","z":"200cf880.993108","name":"","showStatusActivities":false,"showErrors":false,"unitid":"1","dataType":"MCoils","adr":"0","quantity":"14","server":"dea2537994e23bbf","emptyMsgOnFail":false,"keepMsgProperties":false,"x":340,"y":1180,"wires":[[],["1b925ac3c4d1012a"]]},{"id":"66a9183277e63cac","type":"ui_button","z":"200cf880.993108","name":"","group":"2e91c6de.e9a80a","order":0,"width":"4","height":"1","passthru":false,"label":"ALL ON","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"[1,1,1,1,1,1,1,1,1,1,1,1,1,1]","payloadType":"bin","topic":"topic","topicType":"msg","x":120,"y":1160,"wires":[["7c9a20ed7749573d"]]},{"id":"1b925ac3c4d1012a","type":"modbus-response","z":"200cf880.993108","name":"","registerShowMax":20,"x":530,"y":1220,"wires":[]},{"id":"8f18754ea15cc831","type":"ui_list","z":"200cf880.993108","group":"2e91c6de.e9a80a","name":"","order":30,"width":"8","height":"5","lineType":"two","actionType":"none","allowHTML":false,"outputs":0,"topic":"","x":510,"y":1320,"wires":[]},{"id":"7c0fbdc95f24b2d3","type":"modbus-read","z":"200cf880.993108","name":"","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"1","dataType":"Coil","adr":"0","quantity":"32","rate":"1","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"dea2537994e23bbf","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":130,"y":1280,"wires":[[],["0543a5d80bde48b9"]]},{"id":"0543a5d80bde48b9","type":"function","z":"200cf880.993108","name":"function 1","func":"var mydata = [];\nfor(var i = 0;i<msg.payload.data.length;i++){\n  if(msg.payload.data[i]){\n      mydata.push(i+\"번째 : 코일 ON\");\n  }else{\n      mydata.push(i + \"번째 : 코일 OFF\");\n  }\n}\nmsg.payload = mydata;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":1300,"wires":[["8f18754ea15cc831"]]},{"id":"ddcbfc8257e71725","type":"ui_form","z":"200cf880.993108","name":"","label":"","group":"2e91c6de.e9a80a","order":31,"width":0,"height":0,"options":[{"label":"레지스터0","value":"reg0","type":"number","required":true,"rows":null},{"label":"레지스터1","value":"reg1","type":"number","required":true,"rows":null}],"formValue":{"reg0":"","reg1":""},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","className":"","x":130,"y":1400,"wires":[["e913e4ceb3be6162"]]},{"id":"e913e4ceb3be6162","type":"function","z":"200cf880.993108","name":"function 2","func":"var mydata = [];\nmydata.push(msg.payload.reg0);\nmydata.push(msg.payload.reg1);\nmsg.payload = mydata;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":1400,"wires":[["b93e9e4603a47135"]]},{"id":"b93e9e4603a47135","type":"modbus-write","z":"200cf880.993108","name":"","showStatusActivities":false,"showErrors":false,"unitid":"1","dataType":"MHoldingRegisters","adr":"0","quantity":"2","server":"dea2537994e23bbf","emptyMsgOnFail":false,"keepMsgProperties":false,"x":500,"y":1400,"wires":[[],[]]},{"id":"da0d7927f0f47015","type":"modbus-read","z":"200cf880.993108","name":"","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"1","dataType":"HoldingRegister","adr":"0","quantity":"2","rate":"1","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"dea2537994e23bbf","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":130,"y":1460,"wires":[[],["d68a16baa78d16f4"]]},{"id":"d68a16baa78d16f4","type":"buffer-parser","z":"200cf880.993108","name":"","data":"payload.buffer","dataType":"msg","specification":"spec","specificationType":"ui","items":[{"type":"uint16be","name":"item1","offset":0,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"uint16be","name":"item2","offset":2,"length":1,"offsetbit":0,"scale":"1","mask":""}],"swap1":"","swap2":"","swap3":"","swap1Type":"swap","swap2Type":"swap","swap3Type":"swap","msgProperty":"payload","msgPropertyType":"str","resultType":"keyvalue","resultTypeType":"return","multipleResult":false,"fanOutMultipleResult":false,"setTopic":true,"outputs":1,"x":310,"y":1500,"wires":[["ff462b1acf369c7a","af501435ed0f4aad"]]},{"id":"ff462b1acf369c7a","type":"ui_text","z":"200cf880.993108","group":"2e91c6de.e9a80a","order":32,"width":0,"height":0,"name":"","label":"레지스터0번","format":"{{msg.payload.item1}}","layout":"row-spread","className":"","x":530,"y":1480,"wires":[]},{"id":"af501435ed0f4aad","type":"ui_text","z":"200cf880.993108","group":"2e91c6de.e9a80a","order":32,"width":0,"height":0,"name":"","label":"레지스터1번","format":"{{msg.payload.item2}}","layout":"row-spread","className":"","x":530,"y":1520,"wires":[]},{"id":"2e91c6de.e9a80a","type":"ui_group","name":"Group 1","tab":"a8c3dc2a.d66a8","order":1,"disp":true,"width":8,"collapse":false,"className":""},{"id":"dea2537994e23bbf","type":"modbus-client","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"failureLogEnabled":true,"tcpHost":"192.168.0.100","tcpPort":"60000","tcpType":"DEFAULT","serialPort":"COM6","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"a8c3dc2a.d66a8","type":"ui_tab","name":"노드1번","icon":"dashboard","order":1,"disabled":false,"hidden":false}]
