slide25-8
[{"id":"809bf6d44c650d75","type":"ui_button","z":"200cf880.993108","name":"","group":"2e91c6de.e9a80a","order":0,"width":"4","height":"1","passthru":false,"label":"릴레이ON","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"true","payloadType":"bool","topic":"topic","topicType":"msg","x":420,"y":360,"wires":[["ed56298a83a05452"]]},{"id":"5cad76504d8abbe9","type":"ui_button","z":"200cf880.993108","name":"","group":"2e91c6de.e9a80a","order":1,"width":"4","height":"1","passthru":false,"label":"릴레이OFF","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"false","payloadType":"bool","topic":"topic","topicType":"msg","x":430,"y":420,"wires":[["ed56298a83a05452"]]},{"id":"3695b743b110dd59","type":"ui_switch","z":"200cf880.993108","name":"","label":"빨간버튼","tooltip":"","group":"2e91c6de.e9a80a","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"className":"","x":520,"y":980,"wires":[[]]},{"id":"d37d90bc0d51aafd","type":"ui_switch","z":"200cf880.993108","name":"","label":"녹색버튼","tooltip":"","group":"2e91c6de.e9a80a","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"className":"","x":520,"y":940,"wires":[[]]},{"id":"207e17ba2befec8f","type":"change","z":"200cf880.993108","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.data[0]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":940,"wires":[["d37d90bc0d51aafd"]]},{"id":"edf77d29d6a12a5a","type":"change","z":"200cf880.993108","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.data[1]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":980,"wires":[["3695b743b110dd59"]]},{"id":"b7fbc41a0831e108","type":"buffer-parser","z":"200cf880.993108","name":"","data":"payload.buffer","dataType":"msg","specification":"spec","specificationType":"ui","items":[{"type":"uint16le","name":"item1","offset":0,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"uint32le","name":"item2","offset":2,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"uint32le","name":"item3","offset":6,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"uint32le","name":"item4","offset":10,"length":1,"offsetbit":0,"scale":"1","mask":""}],"swap1":"swap16","swap2":"","swap3":"","swap1Type":"swap","swap2Type":"swap","swap3Type":"swap","msgProperty":"payload","msgPropertyType":"str","resultType":"keyvalue","resultTypeType":"return","multipleResult":false,"fanOutMultipleResult":false,"setTopic":true,"outputs":1,"x":390,"y":520,"wires":[["0dd9d5d2e7ee18d4"]]},{"id":"a6ea085a6fa45f48","type":"ui_text","z":"200cf880.993108","group":"2e91c6de.e9a80a","order":4,"width":0,"height":0,"name":"","label":"전압","format":"{{msg.payload.item1}} V","layout":"row-spread","className":"","x":610,"y":480,"wires":[]},{"id":"0dd9d5d2e7ee18d4","type":"function","z":"200cf880.993108","name":"function 1","func":"msg.payload.item1 = msg.payload.item1 / 10;\nmsg.payload.item3 = msg.payload.item3 / 10;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":580,"wires":[["a6ea085a6fa45f48","145b28e07af166dd","a21e4800a074d4a2","5cc72fa0590ae83b"]]},{"id":"145b28e07af166dd","type":"ui_text","z":"200cf880.993108","group":"2e91c6de.e9a80a","order":4,"width":0,"height":0,"name":"","label":"전류","format":"{{msg.payload.item2}} mA","layout":"row-spread","className":"","x":570,"y":640,"wires":[]},{"id":"a21e4800a074d4a2","type":"ui_text","z":"200cf880.993108","group":"2e91c6de.e9a80a","order":4,"width":0,"height":0,"name":"","label":"전력","format":"{{msg.payload.item3}} W","layout":"row-spread","className":"","x":570,"y":680,"wires":[]},{"id":"5cc72fa0590ae83b","type":"ui_text","z":"200cf880.993108","group":"2e91c6de.e9a80a","order":4,"width":0,"height":0,"name":"","label":"전력량","format":"{{msg.payload.item4}} Wh","layout":"row-spread","className":"","x":570,"y":720,"wires":[]},{"id":"c5f3c42c377bd43e","type":"modbus-flex-getter","z":"200cf880.993108","name":"","showStatusActivities":false,"showErrors":false,"logIOActivities":false,"server":"dea2537994e23bbf","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":250,"y":720,"wires":[[],["ff282e2351d41fa9"]]},{"id":"066b262ff812ea48","type":"inject","z":"200cf880.993108","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":true,"onceDelay":"0.2","topic":"","payload":"","payloadType":"date","x":130,"y":560,"wires":[["d6b1d315f217644a"]]},{"id":"d6b1d315f217644a","type":"function","z":"200cf880.993108","name":"function 2","func":"msg.payload = { 'fc': 4, 'unitid': 1, 'address': 0, 'quantity': 7 }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":180,"y":620,"wires":[["c5f3c42c377bd43e"]]},{"id":"b9a3e5d86625cc4b","type":"inject","z":"200cf880.993108","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":820,"wires":[["b5b721eb1b0be22e"]]},{"id":"b5b721eb1b0be22e","type":"function","z":"200cf880.993108","name":"function 3","func":"msg.payload = {'fc': 1, 'unitid': 2, 'address': 30, 'quantity': 2 };\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":120,"y":880,"wires":[["c5f3c42c377bd43e"]]},{"id":"ff282e2351d41fa9","type":"switch","z":"200cf880.993108","name":"","property":"unitId","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":410,"y":820,"wires":[["b7fbc41a0831e108"],["207e17ba2befec8f","edf77d29d6a12a5a"]]},{"id":"ed56298a83a05452","type":"modbus-write","z":"200cf880.993108","name":"","showStatusActivities":false,"showErrors":false,"unitid":"2","dataType":"Coil","adr":"0","quantity":"1","server":"dea2537994e23bbf","emptyMsgOnFail":false,"keepMsgProperties":false,"x":600,"y":380,"wires":[[],[]]},{"id":"2e91c6de.e9a80a","type":"ui_group","name":"Group 1","tab":"a8c3dc2a.d66a8","order":1,"disp":true,"width":8,"collapse":false,"className":""},{"id":"dea2537994e23bbf","type":"modbus-client","name":"","clienttype":"simpleser","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"failureLogEnabled":true,"tcpHost":"192.168.0.100","tcpPort":"60000","tcpType":"DEFAULT","serialPort":"COM6","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"a8c3dc2a.d66a8","type":"ui_tab","name":"노드1번","icon":"dashboard","order":1,"disabled":false,"hidden":false}]
