slide30-1
[{"id":"fd7e6ff3b12bdf9c","type":"mysql","z":"200cf880.993108","mydb":"32efad14.604282","name":"","x":440,"y":580,"wires":[[]]},{"id":"a0972ddafd8b34ee","type":"modbus-read","z":"200cf880.993108","name":"","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"1","dataType":"HoldingRegister","adr":"0","quantity":"4","rate":"1","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"dea2537994e23bbf","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":170,"y":300,"wires":[[],["9f14d93d9736d6d5"]]},{"id":"9f14d93d9736d6d5","type":"buffer-parser","z":"200cf880.993108","name":"","data":"payload.buffer","dataType":"msg","specification":"spec","specificationType":"ui","items":[{"type":"int16be","name":"item1","offset":0,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"int16be","name":"item2","offset":2,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"int16be","name":"item3","offset":4,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"int16be","name":"item4","offset":6,"length":1,"offsetbit":0,"scale":"1","mask":""}],"swap1":"","swap2":"","swap3":"","swap1Type":"swap","swap2Type":"swap","swap3Type":"swap","msgProperty":"payload","msgPropertyType":"str","resultType":"keyvalue","resultTypeType":"return","multipleResult":false,"fanOutMultipleResult":false,"setTopic":true,"outputs":1,"x":230,"y":360,"wires":[["4a87a26ed8159efd"]]},{"id":"4a87a26ed8159efd","type":"function","z":"200cf880.993108","name":"function 1","func":"msg.payload.item1 = msg.payload.item1 / 100;\nmsg.payload.item2 = msg.payload.item2 / 100;\nmsg.payload.item3 = msg.payload.item3 / 100;\nmsg.payload.item4 = msg.payload.item4 / 100;\n\nvar date = new Date();\nmsg.topic = \"insert into register(reg0,reg1,reg2,reg3,date) values(\" + msg.payload.item1 + \",\" + msg.payload.item2 + \",\" + msg.payload.item3 + \",\" + msg.payload.item4 + \",'\" + date + \"');\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":240,"y":420,"wires":[["845bdeb8e4e7bf11","cc898307f43b3ac7","ec23013b56483816","9feef276e5286146","fd7e6ff3b12bdf9c"]]},{"id":"845bdeb8e4e7bf11","type":"ui_text","z":"200cf880.993108","group":"2e91c6de.e9a80a","order":1,"width":0,"height":0,"name":"","label":"데이터1","format":"{{msg.payload.item1}}","layout":"row-spread","className":"","x":440,"y":420,"wires":[]},{"id":"cc898307f43b3ac7","type":"ui_text","z":"200cf880.993108","group":"2e91c6de.e9a80a","order":2,"width":0,"height":0,"name":"","label":"데이터2","format":"{{msg.payload.item2}}","layout":"row-spread","className":"","x":440,"y":460,"wires":[]},{"id":"ec23013b56483816","type":"ui_text","z":"200cf880.993108","group":"2e91c6de.e9a80a","order":3,"width":0,"height":0,"name":"","label":"데이터3","format":"{{msg.payload.item3}}","layout":"row-spread","className":"","x":440,"y":500,"wires":[]},{"id":"9feef276e5286146","type":"ui_text","z":"200cf880.993108","group":"2e91c6de.e9a80a","order":4,"width":0,"height":0,"name":"","label":"데이터4","format":"{{msg.payload.item4}}","layout":"row-spread","className":"","x":440,"y":540,"wires":[]},{"id":"2ad607f5b99af0ed","type":"modbus-read","z":"200cf880.993108","name":"","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"1","dataType":"Coil","adr":"0","quantity":"32","rate":"1","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"dea2537994e23bbf","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":170,"y":260,"wires":[[],["d09f564581d8ed6d","e911300a428471a5"]]},{"id":"730552c535c85019","type":"ui_list","z":"200cf880.993108","group":"2e91c6de.e9a80a","name":"","order":5,"width":8,"height":8,"lineType":"two","actionType":"none","allowHTML":false,"outputs":0,"topic":"","x":470,"y":140,"wires":[]},{"id":"d09f564581d8ed6d","type":"function","z":"200cf880.993108","name":"function 2","func":"var mydatas = [];\n\nfor(var i = 0 ;i<32;i++){\n    var mydata = {\n        title : \"Coil \" +i+ \"=\" +msg.payload.data[i]\n    };\n    mydatas.push(mydata);\n\n    \n}\nmsg.payload = mydatas;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":140,"wires":[["730552c535c85019"]]},{"id":"78763cf28f9d53b4","type":"mysql","z":"200cf880.993108","mydb":"32efad14.604282","name":"","x":540,"y":240,"wires":[[]]},{"id":"43f08169ab378d44","type":"ui_button","z":"200cf880.993108","name":"","group":"2e91c6de.e9a80a","order":7,"width":0,"height":0,"passthru":false,"label":"Coil 0 OFF","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"false","payloadType":"bool","topic":"topic","topicType":"msg","x":150,"y":80,"wires":[["74ea26611fe0b85d"]]},{"id":"f4a73f0bfe030576","type":"ui_button","z":"200cf880.993108","name":"","group":"2e91c6de.e9a80a","order":6,"width":0,"height":0,"passthru":false,"label":"Coil 0 ON","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"true","payloadType":"bool","topic":"topic","topicType":"msg","x":140,"y":40,"wires":[["74ea26611fe0b85d"]]},{"id":"e911300a428471a5","type":"function","z":"200cf880.993108","name":"function 3","func":"msg.topic = \"insert into coil(coil0,coil1,coil2,coil3,coil4,coil5,coil6,coil7,coil8,coil9,coil10,coil11,coil12,coil13,coil14,coil15,coil16,coil17,coil18,coil19,coil20,coil21,coil22,coil23,coil24,coil25,coil26,coil27,coil28,coil29,coil30,coil31,date) values(\";\nfor (var j = 0; j < 32; j++) {\n    if (msg.payload.data[j]) {\n        msg.topic += \"1,\"\n    } else {\n        msg.topic += \"0,\"\n    }\n}\nvar date = new Date();\nmsg.topic += \"'\" + date + \"');\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":240,"wires":[["78763cf28f9d53b4"]]},{"id":"74ea26611fe0b85d","type":"modbus-write","z":"200cf880.993108","name":"","showStatusActivities":false,"showErrors":false,"unitid":"1","dataType":"Coil","adr":"0","quantity":"1","server":"dea2537994e23bbf","emptyMsgOnFail":false,"keepMsgProperties":false,"x":340,"y":40,"wires":[[],[]]},{"id":"8b7a80e07b05282e","type":"ui_table","z":"200cf880.993108","group":"37b8047e.89c1ec","name":"","order":8,"width":8,"height":6,"columns":[],"outputs":0,"cts":false,"x":490,"y":660,"wires":[]},{"id":"49588fbfbd252646","type":"mysql","z":"200cf880.993108","mydb":"32efad14.604282","name":"","x":320,"y":660,"wires":[["8b7a80e07b05282e"]]},{"id":"13010d64422e0616","type":"ui_button","z":"200cf880.993108","name":"","group":"37b8047e.89c1ec","order":9,"width":0,"height":0,"passthru":false,"label":"Coil 조회하기","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"true","payloadType":"bool","topic":"select * from coil order by date desc limit 20;","topicType":"str","x":140,"y":660,"wires":[["49588fbfbd252646"]]},{"id":"39c8b9cfa957de5c","type":"ui_button","z":"200cf880.993108","name":"","group":"fdb00772.727d78","order":11,"width":0,"height":0,"passthru":false,"label":"Register 조회하기","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"true","payloadType":"bool","topic":"select * from register order by date desc limit 20;","topicType":"str","x":150,"y":720,"wires":[["8d47685a6791d6fc"]]},{"id":"8d47685a6791d6fc","type":"mysql","z":"200cf880.993108","mydb":"32efad14.604282","name":"","x":340,"y":720,"wires":[["a3906b7af5928c93"]]},{"id":"a3906b7af5928c93","type":"ui_table","z":"200cf880.993108","group":"fdb00772.727d78","name":"","order":10,"width":"7","height":6,"columns":[],"outputs":0,"cts":false,"x":490,"y":720,"wires":[]},{"id":"32efad14.604282","type":"MySQLdatabase","name":"","host":"127.0.0.1","port":"3306","db":"modbus","tz":"","charset":"UTF8"},{"id":"dea2537994e23bbf","type":"modbus-client","name":"","clienttype":"simpleser","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"failureLogEnabled":true,"tcpHost":"172.30.1.50","tcpPort":"60000","tcpType":"DEFAULT","serialPort":"COM6","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":"1","commandDelay":"1","clientTimeout":"5000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"2e91c6de.e9a80a","type":"ui_group","name":"Group 1","tab":"a8c3dc2a.d66a8","order":1,"disp":true,"width":8,"collapse":false,"className":""},{"id":"37b8047e.89c1ec","type":"ui_group","name":"Group 2","tab":"a8c3dc2a.d66a8","order":2,"disp":true,"width":8},{"id":"fdb00772.727d78","type":"ui_group","name":"Group 3","tab":"a8c3dc2a.d66a8","order":3,"disp":true,"width":7},{"id":"a8c3dc2a.d66a8","type":"ui_tab","name":"노드1번","icon":"dashboard","order":1,"disabled":false,"hidden":false}]
