slide15-4
[{"id":"138da6f0c5acc7c5","type":"modbus-write","z":"200cf880.993108","name":"","showStatusActivities":false,"showErrors":false,"unitid":"1","dataType":"MCoils","adr":"0","quantity":"14","server":"dea2537994e23bbf","emptyMsgOnFail":false,"keepMsgProperties":false,"x":320,"y":160,"wires":[["70948daf1b3cb64e"],["70948daf1b3cb64e"]]},{"id":"5344bc5715479d8f","type":"inject","z":"200cf880.993108","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[1,1,1,1,1,1,1,1,1,1,1,1,1,1]","payloadType":"bin","x":110,"y":140,"wires":[["138da6f0c5acc7c5"]]},{"id":"6c9ca483b9f3e165","type":"inject","z":"200cf880.993108","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[0,0,0,0,0,0,0,0,0,0,0,0,0,0]","payloadType":"bin","x":110,"y":180,"wires":[["138da6f0c5acc7c5"]]},{"id":"70948daf1b3cb64e","type":"debug","z":"200cf880.993108","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":540,"y":160,"wires":[]},{"id":"dea2537994e23bbf","type":"modbus-client","name":"","clienttype":"simpleser","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"failureLogEnabled":true,"tcpHost":"127.0.0.1","tcpPort":"60000","tcpType":"DEFAULT","serialPort":"COM6","serialType":"RTU-BUFFERD","serialBaudrate":"57600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true}]
