slide27-5
[{"id":"6e5d9d1679ae825a","type":"modbus-read","z":"200cf880.993108","name":"","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"1","dataType":"HoldingRegister","adr":"0","quantity":"5","rate":"300","rateUnit":"ms","delayOnStart":false,"startDelayTime":"","server":"dea2537994e23bbf","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":190,"y":460,"wires":[[],["155d1bf861f4e25f","62f450773a33775b","6a55f0e02fad37b7","3b0ac482e508afa8"]]},{"id":"155d1bf861f4e25f","type":"ui_text","z":"200cf880.993108","group":"2e91c6de.e9a80a","order":0,"width":0,"height":0,"name":"","label":"현재위치","format":"{{msg.payload.data[0]}}","layout":"row-spread","className":"","x":480,"y":420,"wires":[]},{"id":"62f450773a33775b","type":"ui_text","z":"200cf880.993108","group":"2e91c6de.e9a80a","order":0,"width":0,"height":0,"name":"","label":"목표위치(자동)","format":"{{msg.payload.data[1]}}","layout":"row-spread","className":"","x":500,"y":460,"wires":[]},{"id":"50c7ac579eb9b998","type":"ui_text","z":"200cf880.993108","group":"2e91c6de.e9a80a","order":0,"width":0,"height":0,"name":"","label":"회전방향","format":"{{msg.payload}}","layout":"row-spread","className":"","x":580,"y":500,"wires":[]},{"id":"6a55f0e02fad37b7","type":"ui_text","z":"200cf880.993108","group":"2e91c6de.e9a80a","order":0,"width":0,"height":0,"name":"","label":"최대카운터","format":"{{msg.payload.data[3]}}","layout":"row-spread","className":"","x":490,"y":540,"wires":[]},{"id":"2669d7ab722fe368","type":"modbus-read","z":"200cf880.993108","name":"","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"1","dataType":"Coil","adr":"0","quantity":"2","rate":"1","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"dea2537994e23bbf","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":130,"y":620,"wires":[[],["e76b23f14a893088","f29995d4872dd90b"]]},{"id":"164c11d4add30fb6","type":"ui_switch","z":"200cf880.993108","name":"","label":"릴레이1번","tooltip":"","group":"2e91c6de.e9a80a","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"className":"","x":490,"y":620,"wires":[[]]},{"id":"b805587eba30c878","type":"ui_switch","z":"200cf880.993108","name":"","label":"릴레이2번","tooltip":"","group":"2e91c6de.e9a80a","order":5,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"className":"","x":490,"y":660,"wires":[[]]},{"id":"e76b23f14a893088","type":"change","z":"200cf880.993108","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.data[0]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":620,"wires":[["164c11d4add30fb6"]]},{"id":"f29995d4872dd90b","type":"change","z":"200cf880.993108","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.data[1]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":660,"wires":[["b805587eba30c878"]]},{"id":"b975ed1c597e2b6f","type":"ui_button","z":"200cf880.993108","name":"","group":"2e91c6de.e9a80a","order":6,"width":0,"height":0,"passthru":false,"label":"정회전","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":110,"y":780,"wires":[["fa7f67358b82ce89","7a3f7ad6013a9243"]]},{"id":"6e52399495b417c8","type":"ui_button","z":"200cf880.993108","name":"","group":"2e91c6de.e9a80a","order":7,"width":0,"height":0,"passthru":false,"label":"역회전","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":110,"y":860,"wires":[["beb0de6e77fc0f6c","8a69f9b9d5d6e06f"]]},{"id":"b61ec4b788d11e37","type":"ui_button","z":"200cf880.993108","name":"","group":"2e91c6de.e9a80a","order":8,"width":0,"height":0,"passthru":false,"label":"정지","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":110,"y":940,"wires":[["d5418844534bcb30","f5848f3d728901c2"]]},{"id":"77120291ab69a1ed","type":"modbus-write","z":"200cf880.993108","name":"","showStatusActivities":false,"showErrors":false,"unitid":"1","dataType":"Coil","adr":"32","quantity":"1","server":"dea2537994e23bbf","emptyMsgOnFail":false,"keepMsgProperties":false,"x":500,"y":760,"wires":[[],[]]},{"id":"fa7f67358b82ce89","type":"change","z":"200cf880.993108","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":760,"wires":[["77120291ab69a1ed"]]},{"id":"b7b488a71c3a6b4c","type":"modbus-write","z":"200cf880.993108","name":"","showStatusActivities":false,"showErrors":false,"unitid":"1","dataType":"HoldingRegister","adr":"2","quantity":"1","server":"dea2537994e23bbf","emptyMsgOnFail":false,"keepMsgProperties":false,"x":500,"y":800,"wires":[[],[]]},{"id":"7a3f7ad6013a9243","type":"change","z":"200cf880.993108","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":800,"wires":[["b7b488a71c3a6b4c"]]},{"id":"4b3adc399db210af","type":"modbus-write","z":"200cf880.993108","name":"","showStatusActivities":false,"showErrors":false,"unitid":"1","dataType":"Coil","adr":"32","quantity":"1","server":"dea2537994e23bbf","emptyMsgOnFail":false,"keepMsgProperties":false,"x":500,"y":840,"wires":[[],[]]},{"id":"beb0de6e77fc0f6c","type":"change","z":"200cf880.993108","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":840,"wires":[["4b3adc399db210af"]]},{"id":"857dca1f019033d6","type":"modbus-write","z":"200cf880.993108","name":"","showStatusActivities":false,"showErrors":false,"unitid":"1","dataType":"HoldingRegister","adr":"2","quantity":"1","server":"dea2537994e23bbf","emptyMsgOnFail":false,"keepMsgProperties":false,"x":500,"y":880,"wires":[[],[]]},{"id":"8a69f9b9d5d6e06f","type":"change","z":"200cf880.993108","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"2","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":880,"wires":[["857dca1f019033d6"]]},{"id":"74317d365fdd9be9","type":"modbus-write","z":"200cf880.993108","name":"","showStatusActivities":false,"showErrors":false,"unitid":"1","dataType":"Coil","adr":"32","quantity":"1","server":"dea2537994e23bbf","emptyMsgOnFail":false,"keepMsgProperties":false,"x":500,"y":920,"wires":[[],[]]},{"id":"d5418844534bcb30","type":"change","z":"200cf880.993108","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":920,"wires":[["74317d365fdd9be9"]]},{"id":"a6e340256f319f4f","type":"modbus-write","z":"200cf880.993108","name":"","showStatusActivities":false,"showErrors":false,"unitid":"1","dataType":"HoldingRegister","adr":"2","quantity":"1","server":"dea2537994e23bbf","emptyMsgOnFail":false,"keepMsgProperties":false,"x":500,"y":960,"wires":[[],[]]},{"id":"f5848f3d728901c2","type":"change","z":"200cf880.993108","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":960,"wires":[["a6e340256f319f4f"]]},{"id":"0af46c1bda893898","type":"ui_form","z":"200cf880.993108","name":"","label":"","group":"2e91c6de.e9a80a","order":9,"width":0,"height":0,"options":[{"label":"목표지점","value":"target","type":"number","required":true,"rows":null}],"formValue":{"target":""},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","className":"","x":110,"y":1060,"wires":[["8e2bf324d25b17ed","b0950119a6957fde"]]},{"id":"68600a0653183874","type":"modbus-write","z":"200cf880.993108","name":"","showStatusActivities":false,"showErrors":false,"unitid":"1","dataType":"Coil","adr":"32","quantity":"1","server":"dea2537994e23bbf","emptyMsgOnFail":false,"keepMsgProperties":false,"x":500,"y":1060,"wires":[[],[]]},{"id":"8e2bf324d25b17ed","type":"change","z":"200cf880.993108","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":1060,"wires":[["68600a0653183874"]]},{"id":"f98bc1bd134b1952","type":"modbus-write","z":"200cf880.993108","name":"","showStatusActivities":false,"showErrors":false,"unitid":"1","dataType":"HoldingRegister","adr":"1","quantity":"1","server":"dea2537994e23bbf","emptyMsgOnFail":false,"keepMsgProperties":false,"x":500,"y":1100,"wires":[[],[]]},{"id":"b0950119a6957fde","type":"change","z":"200cf880.993108","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.target","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":1100,"wires":[["f98bc1bd134b1952"]]},{"id":"3b0ac482e508afa8","type":"function","z":"200cf880.993108","name":"function 1","func":"if (msg.payload.data[2] == 0){\n  msg.payload = \"멈춤\";\n} else if (msg.payload.data[2] == 1) {\n    msg.payload = \"정회전\";\n} else if (msg.payload.data[2] == 2) {\n    msg.payload = \"역회전\";\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":500,"wires":[["50c7ac579eb9b998"]]},{"id":"dea2537994e23bbf","type":"modbus-client","name":"","clienttype":"simpleser","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"failureLogEnabled":true,"tcpHost":"192.168.0.100","tcpPort":"60000","tcpType":"DEFAULT","serialPort":"COM6","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"2e91c6de.e9a80a","type":"ui_group","name":"Group 1","tab":"a8c3dc2a.d66a8","order":1,"disp":true,"width":8,"collapse":false,"className":""},{"id":"a8c3dc2a.d66a8","type":"ui_tab","name":"노드1번","icon":"dashboard","order":1,"disabled":false,"hidden":false}]
