slide24-8
[{"id":"6326c72d2140e19b","type":"modbus-read","z":"200cf880.993108","name":"","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"1","dataType":"HoldingRegister","adr":"0","quantity":"6","rate":"500","rateUnit":"ms","delayOnStart":false,"startDelayTime":"","server":"dea2537994e23bbf","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":130,"y":200,"wires":[[],["6bbc125c5841ef8f"]]},{"id":"6bbc125c5841ef8f","type":"buffer-parser","z":"200cf880.993108","name":"","data":"payload.buffer","dataType":"msg","specification":"spec","specificationType":"ui","items":[{"type":"uint16be","name":"item1","offset":0,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"uint16be","name":"item2","offset":2,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"uint16be","name":"item3","offset":4,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"uint16be","name":"item4","offset":6,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"uint16be","name":"item5","offset":8,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"uint16be","name":"item6","offset":10,"length":1,"offsetbit":0,"scale":"1","mask":""}],"swap1":"","swap2":"","swap3":"","swap1Type":"swap","swap2Type":"swap","swap3Type":"swap","msgProperty":"payload","msgPropertyType":"str","resultType":"keyvalue","resultTypeType":"return","multipleResult":false,"fanOutMultipleResult":false,"setTopic":true,"outputs":1,"x":310,"y":220,"wires":[["06a6a0a7e045157f","95132156b41643c7","af9962da290e4cb4","f7bfd2192ad990cd","81af60c1ba291656","87212626251cb96e"]]},{"id":"94b626a3002f7dc6","type":"ui_text","z":"200cf880.993108","group":"37b8047e.89c1ec","order":0,"width":0,"height":0,"name":"","label":"현재단계","format":"{{msg.payload}}","layout":"row-spread","className":"","x":580,"y":260,"wires":[]},{"id":"06a6a0a7e045157f","type":"function","z":"200cf880.993108","name":"function 1","func":"var text = \"\";\nif(msg.payload.item1 == 0){\n   text = \"붕어빵 틀의 뚜껑을 연다!\";\n} else if (msg.payload.item1 == 1) {\n   text = \"반죽을 넣는다!\";\n} else if (msg.payload.item1 == 2) {\n    text = \"반죽빵 틀의 뚜껑을 닫는다!\";\n} else if (msg.payload.item1 == 3) {\n    text = \"빵틀을 회전시키면서 굽는다!!\";\n} else if (msg.payload.item1 == 4) {\n    text = \"배출한다!\";\n}\nmsg.payload = text;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":300,"wires":[["94b626a3002f7dc6"]]},{"id":"522ab34a4a9a5531","type":"modbus-read","z":"200cf880.993108","name":"","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"1","dataType":"Coil","adr":"29","quantity":"1","rate":"500","rateUnit":"ms","delayOnStart":false,"startDelayTime":"","server":"dea2537994e23bbf","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":130,"y":400,"wires":[[],["60cec7ac40959607"]]},{"id":"2f15805ec4fe72b5","type":"ui_text","z":"200cf880.993108","group":"37b8047e.89c1ec","order":0,"width":0,"height":0,"name":"","label":"기계 작동상태","format":"{{msg.payload}}","layout":"row-spread","className":"","x":540,"y":380,"wires":[]},{"id":"60cec7ac40959607","type":"function","z":"200cf880.993108","name":"function 2","func":"var text = \"\";\nif(msg.payload.data[0]){\n   text = \"작동중!\";\n} else {\n    text = \"멈춤!\";\n}\nmsg.payload = text;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":400,"wires":[["2f15805ec4fe72b5"]]},{"id":"f002cac80f7fe782","type":"ui_form","z":"200cf880.993108","name":"","label":"","group":"2e91c6de.e9a80a","order":2,"width":0,"height":0,"options":[{"label":"1단계유지시간","value":"t","type":"number","required":true,"rows":null}],"formValue":{"t":""},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","className":"","x":150,"y":480,"wires":[["e940d9924d8d2607"]]},{"id":"e5892d58dca6d2cb","type":"ui_form","z":"200cf880.993108","name":"","label":"","group":"2e91c6de.e9a80a","order":2,"width":0,"height":0,"options":[{"label":"2단계유지시간","value":"t","type":"number","required":true,"rows":null}],"formValue":{"t":""},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","className":"","x":150,"y":520,"wires":[["8460fdcde7d7f9e6"]]},{"id":"e773916f1bfeea77","type":"ui_form","z":"200cf880.993108","name":"","label":"","group":"2e91c6de.e9a80a","order":2,"width":0,"height":0,"options":[{"label":"3단계유지시간","value":"t","type":"number","required":true,"rows":null}],"formValue":{"t":""},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","className":"","x":150,"y":560,"wires":[["9923edca88a647ae"]]},{"id":"bd58a6894c40a92b","type":"ui_form","z":"200cf880.993108","name":"","label":"","group":"2e91c6de.e9a80a","order":2,"width":0,"height":0,"options":[{"label":"4단계유지시간","value":"t","type":"number","required":true,"rows":null}],"formValue":{"t":""},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","className":"","x":150,"y":600,"wires":[["0e4334174bfeede5"]]},{"id":"21367839065a7f84","type":"ui_form","z":"200cf880.993108","name":"","label":"","group":"2e91c6de.e9a80a","order":2,"width":0,"height":0,"options":[{"label":"5단계유지시간","value":"t","type":"number","required":true,"rows":null}],"formValue":{"t":""},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","className":"","x":150,"y":640,"wires":[["87b2c530c38bfdae"]]},{"id":"726ce06a76dbf68d","type":"modbus-write","z":"200cf880.993108","name":"","showStatusActivities":false,"showErrors":false,"unitid":"1","dataType":"HoldingRegister","adr":"1","quantity":"1","server":"dea2537994e23bbf","emptyMsgOnFail":false,"keepMsgProperties":false,"x":520,"y":480,"wires":[[],[]]},{"id":"5778426774a86720","type":"modbus-write","z":"200cf880.993108","name":"","showStatusActivities":false,"showErrors":false,"unitid":"1","dataType":"HoldingRegister","adr":"2","quantity":"1","server":"dea2537994e23bbf","emptyMsgOnFail":false,"keepMsgProperties":false,"x":520,"y":520,"wires":[[],[]]},{"id":"796ef6b8303acf27","type":"modbus-write","z":"200cf880.993108","name":"","showStatusActivities":false,"showErrors":false,"unitid":"1","dataType":"HoldingRegister","adr":"3","quantity":"1","server":"dea2537994e23bbf","emptyMsgOnFail":false,"keepMsgProperties":false,"x":520,"y":560,"wires":[[],[]]},{"id":"c32ce047f8d5a96d","type":"modbus-write","z":"200cf880.993108","name":"","showStatusActivities":false,"showErrors":false,"unitid":"1","dataType":"HoldingRegister","adr":"4","quantity":"1","server":"dea2537994e23bbf","emptyMsgOnFail":false,"keepMsgProperties":false,"x":520,"y":600,"wires":[[],[]]},{"id":"125c2f25519f4819","type":"modbus-write","z":"200cf880.993108","name":"","showStatusActivities":false,"showErrors":false,"unitid":"1","dataType":"HoldingRegister","adr":"5","quantity":"1","server":"dea2537994e23bbf","emptyMsgOnFail":false,"keepMsgProperties":false,"x":520,"y":640,"wires":[[],[]]},{"id":"e940d9924d8d2607","type":"change","z":"200cf880.993108","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.t","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":480,"wires":[["726ce06a76dbf68d"]]},{"id":"8460fdcde7d7f9e6","type":"change","z":"200cf880.993108","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.t","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":520,"wires":[["5778426774a86720"]]},{"id":"9923edca88a647ae","type":"change","z":"200cf880.993108","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.t","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":560,"wires":[["796ef6b8303acf27"]]},{"id":"0e4334174bfeede5","type":"change","z":"200cf880.993108","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.t","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":600,"wires":[["c32ce047f8d5a96d"]]},{"id":"87b2c530c38bfdae","type":"change","z":"200cf880.993108","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.t","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":640,"wires":[["125c2f25519f4819"]]},{"id":"95132156b41643c7","type":"ui_text","z":"200cf880.993108","group":"37b8047e.89c1ec","order":7,"width":0,"height":0,"name":"","label":"1단계유지시간","format":"{{msg.payload.item2}}","layout":"row-spread","className":"","x":540,"y":20,"wires":[]},{"id":"af9962da290e4cb4","type":"ui_text","z":"200cf880.993108","group":"37b8047e.89c1ec","order":7,"width":0,"height":0,"name":"","label":"2단계유지시간","format":"{{msg.payload.item3}}","layout":"row-spread","className":"","x":540,"y":60,"wires":[]},{"id":"f7bfd2192ad990cd","type":"ui_text","z":"200cf880.993108","group":"37b8047e.89c1ec","order":7,"width":0,"height":0,"name":"","label":"3단계유지시간","format":"{{msg.payload.item4}}","layout":"row-spread","className":"","x":540,"y":100,"wires":[]},{"id":"81af60c1ba291656","type":"ui_text","z":"200cf880.993108","group":"37b8047e.89c1ec","order":7,"width":0,"height":0,"name":"","label":"4단계유지시간","format":"{{msg.payload.item5}}","layout":"row-spread","className":"","x":540,"y":140,"wires":[]},{"id":"87212626251cb96e","type":"ui_text","z":"200cf880.993108","group":"37b8047e.89c1ec","order":7,"width":0,"height":0,"name":"","label":"5단계유지시간","format":"{{msg.payload.item6}}","layout":"row-spread","className":"","x":540,"y":180,"wires":[]},{"id":"8ee845c0461d8967","type":"modbus-read","z":"200cf880.993108","name":"","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"1","dataType":"HoldingRegister","adr":"6","quantity":"2","rate":"500","rateUnit":"ms","delayOnStart":false,"startDelayTime":"","server":"dea2537994e23bbf","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":110,"y":700,"wires":[[],["261ce215c535eca3"]]},{"id":"261ce215c535eca3","type":"buffer-parser","z":"200cf880.993108","name":"","data":"payload.buffer","dataType":"msg","specification":"spec","specificationType":"ui","items":[{"type":"floatle","name":"item1","offset":0,"length":1,"offsetbit":0,"scale":"1","mask":""}],"swap1":"swap16","swap2":"","swap3":"","swap1Type":"swap","swap2Type":"swap","swap3Type":"swap","msgProperty":"payload","msgPropertyType":"str","resultType":"keyvalue","resultTypeType":"return","multipleResult":false,"fanOutMultipleResult":false,"setTopic":true,"outputs":1,"x":290,"y":740,"wires":[["d950bb762633ec4f"]]},{"id":"c6ca7c7171ce8bcb","type":"modbus-read","z":"200cf880.993108","name":"","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"1","dataType":"Coil","adr":"32","quantity":"1","rate":"500","rateUnit":"ms","delayOnStart":false,"startDelayTime":"","server":"dea2537994e23bbf","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":110,"y":780,"wires":[[],["7a3d11ab1b2b1571"]]},{"id":"eba179d6d3a201de","type":"ui_text","z":"200cf880.993108","group":"37b8047e.89c1ec","order":5,"width":0,"height":0,"name":"","label":"현재기계의상태","format":"{{msg.payload}}","layout":"row-spread","className":"","x":480,"y":820,"wires":[]},{"id":"7a3d11ab1b2b1571","type":"function","z":"200cf880.993108","name":"function 3","func":"var text = \"\";\nif(msg.payload.data[0]){\n   text = \"비정상!\";\n} else {\n    text = \"정상!\";\n}\nmsg.payload = text;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":280,"y":820,"wires":[["eba179d6d3a201de"]]},{"id":"d950bb762633ec4f","type":"ui_text","z":"200cf880.993108","group":"37b8047e.89c1ec","order":5,"width":0,"height":0,"name":"","label":"붕어빵틀의 온도","format":"{{msg.payload.item1}} 'C","layout":"row-spread","className":"","x":480,"y":740,"wires":[]},{"id":"dea2537994e23bbf","type":"modbus-client","name":"","clienttype":"simpleser","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"failureLogEnabled":true,"tcpHost":"192.168.0.100","tcpPort":"60000","tcpType":"DEFAULT","serialPort":"COM6","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"37b8047e.89c1ec","type":"ui_group","name":"Group 2","tab":"a8c3dc2a.d66a8","order":2,"disp":true,"width":7},{"id":"2e91c6de.e9a80a","type":"ui_group","name":"Group 1","tab":"a8c3dc2a.d66a8","order":1,"disp":true,"width":8,"collapse":false,"className":""},{"id":"a8c3dc2a.d66a8","type":"ui_tab","name":"노드1번","icon":"dashboard","order":1,"disabled":false,"hidden":false}]
