slide24-2
[{"id":"2a9b569db066b9ca","type":"modbus-read","z":"200cf880.993108","name":"","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"1","dataType":"Coil","adr":"0","quantity":"3","rate":"500","rateUnit":"ms","delayOnStart":false,"startDelayTime":"","server":"dea2537994e23bbf","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":150,"y":180,"wires":[[],["4cdcec662befe491"]]},{"id":"c0b7589bd1312057","type":"ui_text","z":"200cf880.993108","group":"2e91c6de.e9a80a","order":1,"width":0,"height":0,"name":"","label":"적색램프상태","format":"{{msg.payload[0]}}","layout":"row-spread","className":"","x":520,"y":140,"wires":[]},{"id":"15e8100e208c7969","type":"ui_text","z":"200cf880.993108","group":"2e91c6de.e9a80a","order":2,"width":0,"height":0,"name":"","label":"황색램프상태","format":"{{msg.payload[1]}}","layout":"row-spread","className":"","x":520,"y":180,"wires":[]},{"id":"ddc42cd4a815d324","type":"ui_text","z":"200cf880.993108","group":"2e91c6de.e9a80a","order":3,"width":0,"height":0,"name":"","label":"녹색램프상태","format":"{{msg.payload[2]}}","layout":"row-spread","className":"","x":520,"y":220,"wires":[]},{"id":"4cdcec662befe491","type":"function","z":"200cf880.993108","name":"function 1","func":"var mydata = [];\nif(msg.payload.data[0]){\n    mydata.push(\"ON\");\n}else{\n    mydata.push(\"OFF\");\n}\nif (msg.payload.data[1]) {\n    mydata.push(\"ON\");\n} else {\n    mydata.push(\"OFF\");\n}\nif (msg.payload.data[2]) {\n    mydata.push(\"ON\");\n} else {\n    mydata.push(\"OFF\");\n}\nmsg.payload = mydata;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":200,"wires":[["c0b7589bd1312057","15e8100e208c7969","ddc42cd4a815d324"]]},{"id":"a0c0268efd9523f0","type":"modbus-read","z":"200cf880.993108","name":"","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"1","dataType":"Coil","adr":"29","quantity":"1","rate":"500","rateUnit":"ms","delayOnStart":false,"startDelayTime":"","server":"dea2537994e23bbf","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":150,"y":300,"wires":[[],["c9db4fd084c54b10"]]},{"id":"7bb2655d6531ee3a","type":"ui_text","z":"200cf880.993108","group":"2e91c6de.e9a80a","order":3,"width":0,"height":0,"name":"","label":"2단샐랙터의상태","format":"{{msg.payload}}","layout":"row-spread","className":"","x":530,"y":300,"wires":[]},{"id":"c9db4fd084c54b10","type":"function","z":"200cf880.993108","name":"function 2","func":"var data = \"\";\nif(msg.payload.data[0]){\n    data = \"ON\";\n}else{\n    data = \"OFF\";\n}\nmsg.payload = data;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":300,"wires":[["7bb2655d6531ee3a"]]},{"id":"dea2537994e23bbf","type":"modbus-client","name":"","clienttype":"simpleser","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"failureLogEnabled":true,"tcpHost":"192.168.0.100","tcpPort":"60000","tcpType":"DEFAULT","serialPort":"COM6","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"2e91c6de.e9a80a","type":"ui_group","name":"Group 1","tab":"a8c3dc2a.d66a8","order":1,"disp":true,"width":8,"collapse":false,"className":""},{"id":"a8c3dc2a.d66a8","type":"ui_tab","name":"노드1번","icon":"dashboard","order":1,"disabled":false,"hidden":false}]
